@charset "UTF-8";
body {
  font-size: 16px;
}

h1 {
  font-size: 21px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

body {
  background-color: #f6f4ee;
  font-size: 14px;
  font-family: YuMincho, "Yu Mincho", "SFpro", Arial, Helvetica, sans-serif;
  width: 98%;
  margin: 0 auto;
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  vertical-align: middle;
}

/*ボタン*/
.btn {
  width: 76.92%;
  margin-left: auto;
}
.btn__link__submit {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border-radius: 20px 20px 20px 20px;
  border: 0.0714285714em solid #000;
  max-width: 7.8571428571em;
  padding: 0.6428571429em 2.5714285714em;
  background-color: #fff;
}
.btn__link__submit__text {
  margin: 0;
}
h1 {
  font-size: 21px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

body {
  background-color: #f6f4ee;
  font-size: 14px;
  font-family: YuMincho, "Yu Mincho", "SFpro", Arial, Helvetica, sans-serif;
  width: 98%;
  margin: 0 auto;
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  vertical-align: middle;
}

/*ボタン*/
.btn {
  width: 76.92%;
  margin-left: auto;
}
.btn__link__submit {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border-radius: 20px 20px 20px 20px;
  border: 0.0714285714em solid #000;
  max-width: 7.8571428571em;
  padding: 0.6428571429em 2.5714285714em;
  background-color: #fff;
}
.btn__link__submit__text {
  margin: 0;
}
body {
  font-size: 16px;
}

header {
  height: 100px;
  justify-content: center;
}
header .header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 3.75em;
  align-items: center;
  height: 100px;
}
header .header__inner .logo {
  margin: 10px 0;
}
header .header__inner .logo img {
  width: 56.39px;
  height: 40px;
}
header .header__inner .nav .gnav {
  padding: 20px 0;
}

.gnav {
  position: relative;
  /*ボタン内側の基点となるためrelativeを指定*/
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

/*ボタン内側*/
.gnav span {
  display: inline-block;
  transition: all 0.4s;
  /*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  width: 45%;
}

.gnav span:nth-of-type(1) {
  background-color: #000;
  top: 15px;
}

.gnav span:nth-of-type(2) {
  background-color: #000;
  top: 23px;
}

.gnav span:nth-of-type(3) {
  background-color: #000;
  top: 31px;
}

/*activeクラスが付与されると線が回転して×に*/
.gnav.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.gnav.active span:nth-of-type(2) {
  opacity: 0;
  /*真ん中の線は透過*/
}

.gnav.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

@media screen and (max-width: 414px) {
  header {
    height: 60px;
    justify-content: center;
  }
  header .header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1.4285714286em;
    height: 60px;
  }
  header .header__inner .logo {
    margin: 10px 0;
  }
  header .header__inner .logo img {
    width: 56.39px;
    height: 40px;
  }
  header .header__inner .nav .gnav {
    padding: 20px 0;
  }

  .gnav {
    position: relative;
    /*ボタン内側の基点となるためrelativeを指定*/
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }

  /*ボタン内側*/
  .gnav span {
    display: inline-block;
    transition: all 0.4s;
    /*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 45%;
  }

  .gnav span:nth-of-type(1) {
    background-color: #000;
    top: 15px;
  }

  .gnav span:nth-of-type(2) {
    background-color: #000;
    top: 23px;
  }

  .gnav span:nth-of-type(3) {
    background-color: #000;
    top: 31px;
  }

  /*activeクラスが付与されると線が回転して×に*/
  .gnav.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }

  .gnav.active span:nth-of-type(2) {
    opacity: 0;
    /*真ん中の線は透過*/
  }

  .gnav.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
}
/*================== index ===================================*/
main .main__inner .main__visual {
  padding: 0;
}
main .main__inner .main__visual__list {
  margin-left: 70px;
}
main .main__inner .main__visual__list__img img {
  width: 100%;
  height: 100%;
}
main .main__inner .main__visual__list__img .img1 {
  display: block;
  width: 343px;
  height: 776px;
}
main .main__inner .main__visual__list__img .img2 {
  display: none;
}
main .main__inner .main__contents {
  margin-top: 4.2857142857em;
  padding: 0;
}
main .main__inner .main__contents__title {
  margin-bottom: 4.2857142857em;
  align-items: center;
}
main .main__inner .main__contents__title .title-res {
  display: block;
}
main .main__inner .main__contents__title .title-pc {
  display: none;
}
main .main__inner .main__contents .main__contents__type1 {
  margin-bottom: 5.7142857143em;
  height: 435px;
}
main .main__inner .main__contents .type1 {
  position: initial;
}
main .main__inner .main__contents .type1__visual {
  border-radius: 0 30px 30px 0;
  position: initial;
  padding-right: 20px;
  width: 92.75%;
  height: 248px;
  border: 0.0714285714em solid #000;
  margin-right: auto;
}
main .main__inner .main__contents .type1__body {
  border-radius: 25px 25px 25px 25px;
  position: initial;
  padding: 0;
  width: 100%;
  height: 188px;
  left: 0;
}
main .main__inner .main__contents .type1__body-rig {
  border-radius: 25px 25px 25px 25px;
  position: initial;
  padding: 0;
  width: 100%;
  height: 188px;
  left: 0;
}
main .main__inner .main__contents .type1 .type2__visual {
  border-radius: 30px 0 0 30px;
  position: -webkit-sticky;
  position: sticky;
  padding-left: 20px;
  width: 92.75%;
  height: 248px;
  border: 0.0714285714em solid #000;
  margin-left: auto;
}
main .main__inner .main__contents .type1 .type1__title {
  font-size: 18px;
  margin: 16px 0 30px;
}
main .main__inner .main__contents .type1 .type1__text {
  font-size: 1em;
  margin: 30px 0;
}
main .main__inner .main__contents .type1__btn {
  display: block;
  text-align: right;
  margin-top: 2.1428571429em;
}
main .main__inner .main__contents .btn .btn__link .btn__co {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #000;
  height: 32px;
  width: 110px;
}
main .main__inner .main__contents .btn .btn__link .btn__co p {
  display: block;
}
main .main__inner .main__contents .btn .btn__link .btn__co .mark-or-symbol {
  display: block;
}
main .main__inner .main__contents .btn .btn__link .btn__co .mark-or-symbol-pc {
  display: none;
}
/*# sourceMappingURL=index-res.css.map */