@charset "UTF-8";
/*tabの形状*/
.tab {
  display: flex;
  flex-wrap: wrap;
}

.tab li a {
  display: block;
  background: #ddd;
  margin: 0 2px;
  padding: 10px 20px;
}

/*liにactiveクラスがついた時の形状*/
/*エリアの表示非表示と形状*/
.area {
  display: none;
  /*はじめは非表示*/
  opacity: 0;
  /*透過0*/
  padding: 50px 20px;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
  display: block;
  /*表示*/
  -webkit-animation-name: displayAnime;
          animation-name: displayAnime;
  /*ふわっと表示させるためのアニメーション*/
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*tabの形状*/
.tab {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
}

.tab li a {
  display: block;
  background: #ddd;
  margin: 0 2px;
  padding: 10px 20px;
}

/*liにactiveクラスがついた時の形状*/
/*エリアの表示非表示と形状*/
.area {
  display: none;
  /*はじめは非表示*/
  opacity: 0;
  /*透過0*/
  padding: 0 20px;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
  display: block;
  /*表示*/
  -webkit-animation-name: displayAnime;
          animation-name: displayAnime;
  /*ふわっと表示させるためのアニメーション*/
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*========= レイアウトのためのCSS ===============*/
body {
  background: #eee;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

.wrapper {
  max-width: 1280px;
  margin: 1.875em auto 5em;
}

.area h2 {
  font-size: 1.3rem;
  margin: 0 0 20px 10px;
}

.area li {
  border-bottom: 1px solid #ddd;
}

ul {
  padding: 0;
}

#tumami {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tumami-list1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}

.tumami-list2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}

.tumami-list3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}

.tumami-list1 .tumami-img {
  padding: 0;
  margin: 5px;
  border: 1px solid #000;
  height: 488px;
  width: 361px;
}

.tumami-list2 .tumami-img {
  padding: 0;
  margin: 5px;
  border: 1px solid #000;
  height: 488px;
  width: 361px;
}

.tumami-list3 .tumami-img {
  padding: 0;
  margin: 5px;
  border: 1px solid #000;
  height: 488px;
  width: 361px;
}

.tumami-list2 .tumami-img:nth-of-type(1) {
  height: 361px;
}

.art-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.area .art-img {
  padding: 0;
  margin: 5px;
  border: 1px solid #000;
  height: 488px;
  width: 30%;
}

.area .art-img:nth-of-type(2) {
  height: 361px;
}

@media screen and (max-width: 414px) {
  .wrapper {
    display: none;
  }
}
/*==================  gallery ===================================*/
h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

body {
  background-color: #f6f4ee;
  font-size: 16px;
  font-family: YuMincho, "Yu Mincho", "SFpro", Arial, Helvetica, sans-serif;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .main__inner {
    width: 414px;
    margin: 0 auto;
  }
}
ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  vertical-align: middle;
}

/*ボタン*/
.btn {
  width: 76.92%;
}
.btn__link__submit {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border-radius: 20px 20px 20px 20px;
  border: 0.0714285714em solid #000;
  max-width: 7.8571428571em;
  padding: 0.6428571429em 2.5714285714em;
  background-color: #fff;
}
.btn__link__submit__text {
  margin: 0;
}
/*==================  component ===================================*/
/*==================  header ===================================*/
header {
  height: 100px;
  justify-content: center;
}
header .header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 3.75em;
  align-items: center;
  height: 100px;
}
header .header__inner .logo {
  margin: 10px 0;
}
header .header__inner .logo img {
  width: 56.39px;
  height: 40px;
}
header .header__inner .nav .gnav {
  padding: 20px 0;
}

/*　ハンバーガーボタン　*/
.hamburger {
  display: block;
  position: fixed;
  z-index: 3;
  right: 13px;
  top: 12px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}

.hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: #555;
  transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 10px;
}

.hamburger span:nth-child(2) {
  top: 20px;
}

.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top: 16px;
  left: 6px;
  background: #fff;
  transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background: #fff;
  transform: rotate(45deg);
}

nav.globalMenuSp {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

nav.globalMenuSp ul {
  margin: auto;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 20%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  height: 20%;
  transition: 0.4s all;
}

nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}

nav.globalMenuSp ul li:hover {
  background: #ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1.9047619048em 0;
  text-decoration: none;
  font-size: 21px;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  display: block;
  opacity: 100;
  height: 100%;
}

/*==================  component ===================================*/
/*==================　footer　===================================*/
footer {
  padding: 0 1.4285714286em;
  color: #fff;
  background-color: #2f1e17;
}

.footer__about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0.625em;
  align-items: center;
}
.footer__about__logo {
  width: 50px;
  height: 35px;
}
.footer__about__title span {
  font-size: 12px;
}
.footer__about .Instagram-link .Instagram {
  max-width: 24px;
  max-height: 24px;
}

.footer__nav__gnav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.25em 0;
}
.footer__nav__gnav__li {
  width: 33.3%;
  border-left: 1px solid #fff;
}
.footer__nav__gnav__li a {
  color: #fff;
  font-size: 14px;
}

.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #3584bb;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}

.menu-btn span:before {
  bottom: 8px;
}

.menu-btn span:after {
  top: 8px;
}

/*==================  component ===================================*/
/*==================  header ===================================*/
/*==================　footer　===================================*/
/*================== index ===================================*/
main .main__inner .main__visual {
  height: 700px;
}
main .main__inner .main__visual__text {
  position: absolute;
  top: 332px;
  left: 20px;
  text-align: left;
  margin-left: 4.2857142857em;
}
main .main__inner .main__visual span {
  font-size: 60px;
  line-height: 1.6em;
  letter-spacing: 0.1em;
}
main .main__inner .main__visual__list {
  padding-bottom: 60px;
}
main .main__inner .main__visual__list__img1 {
  float: right;
}
main .main__inner .main__visual__list__img1 img {
  width: 100%;
}
main .main__inner .main__visual__list__img1 .img1 {
  display: none;
}
main .main__inner .main__visual__list__img2 {
  background: url("/img/index-img/tumami-thumbnail-pc-1.png");
  background-repeat: no-repeat;
  width: 80%;
  height: 600px;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: -1;
}
main .main__inner .main__contents {
  padding: 0 1.875em;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 7.1428571429em;
}
main .main__inner .main__contents__title {
  margin-bottom: 7.1428571429em;
  align-items: center;
}
main .main__inner .main__contents__title .title-res {
  display: none;
}
main .main__inner .main__contents .main__contents__type1 {
  margin-bottom: 10.7142857143em;
}
main .main__inner .main__contents .type1 {
  position: relative;
  height: 600px;
  margin-bottom: 8.5714285714em;
}
main .main__inner .main__contents .type1__visual {
  position: absolute;
  width: 73.66%;
  height: 500px;
  margin-right: auto;
}
main .main__inner .main__contents .type1__visual img {
  display: none;
}
main .main__inner .main__contents .type1__visual__about {
  border-radius: 25px 25px 25px 25px;
  background: url("/img/index-img/about-thumbnail-pc.png");
  border: 0.0714285714em solid #000;
  height: 500px;
  width: auto;
  display: block;
}
main .main__inner .main__contents .type1__body {
  border-radius: 25px 25px 25px 25px;
  background-color: #fff;
  position: absolute;
  padding: 4.2857142857em 4.2857142857em 4.2857142857em 4.2857142857em;
  width: 49.11%;
  left: 570px;
  bottom: 0;
}
main .main__inner .main__contents .type1__body-rig {
  border-radius: 25px 25px 25px 25px;
  background-color: #fff;
  position: absolute;
  padding: 4.2857142857em 4.2857142857em 4.2857142857em 4.2857142857em;
  width: 49.11%;
  left: 0;
  bottom: 0;
}
main .main__inner .main__contents .type1 .type2__visual {
  position: absolute;
  width: 73.66%;
  height: 500px;
  margin-left: auto;
  left: 295px;
}
main .main__inner .main__contents .type1 .type2__visual img {
  display: none;
}
main .main__inner .main__contents .type1 .type2__visual__shop {
  border-radius: 25px 25px 25px 25px;
  background: url("/img/index-img/shop-thumbnail-pc.png");
  background-repeat: no-repeat;
  border: 0.0714285714em solid #000;
  height: 500px;
  width: auto;
  display: block;
}
main .main__inner .main__contents .type1 .type2__visual__tumami {
  border-radius: 25px 25px 25px 25px;
  background: url("/img/index-img/tumami-thumbnail-pc.png");
  border: 0.0714285714em solid #000;
  height: 500px;
  width: auto;
  display: block;
}
main .main__inner .main__contents .type1 .type2__visual__art_plaster {
  border-radius: 25px 25px 25px 25px;
  background: url("/img/index-img/art_plaster-thumbnail-pc.png");
  border: 0.0714285714em solid #000;
  height: 500px;
  width: auto;
  display: block;
}
main .main__inner .main__contents .type1 .type2__visual__class {
  border-radius: 25px 25px 25px 25px;
  background: url("/img/index-img/class-thumbnail-pc.png");
  border: 0.0714285714em solid #000;
  height: 500px;
  width: auto;
  display: block;
}
main .main__inner .main__contents .type1__btn {
  display: block;
  text-align: right;
  margin-top: 2.1428571429em;
}
main .main__inner .main__contents .btn {
  text-align: right;
  float: right;
}
main .main__inner .main__contents .btn .btn__link .btn__co {
  display: block;
  border: none;
}
main .main__inner .main__contents .btn .btn__link .btn__co p {
  display: none;
}
main .main__inner .main__contents .btn .btn__link .btn__co .mark-or-symbol {
  display: none;
}
/*==================　responsive　===================================*/
@media screen and (max-width: 414px) {
  main .main__inner .main__visual {
    height: 836px;
  }
  main .main__inner .main__visual__text {
    position: absolute;
    top: 332px;
    left: 20px;
    text-align: left;
    margin: 0;
  }
  main .main__inner .main__visual span {
    font-size: 40px;
    line-height: 1.6em;
    letter-spacing: 0.1em;
  }
  main .main__inner .main__visual__list {
    width: 343px;
    height: 776px;
    margin-left: 4.375em;
  }
  main .main__inner .main__visual__list__img img {
    width: 100%;
    height: 100%;
  }
  main .main__inner .main__visual__list__img1 {
    display: block;
    height: 100%;
    background: url("/img/mainvisual-3.png");
    background-size: 343px 776px;
    background-repeat: no-repeat;
    background-position: right top;
    float: none;
    right: 0;
  }
  main .main__inner .main__visual__list__img2 {
    display: none;
    background: none;
  }
  main .main__inner .main__contents {
    margin-top: 4.2857142857em;
    padding: 0;
  }
  main .main__inner .main__contents__title {
    margin-bottom: 4.2857142857em;
    align-items: center;
  }
  main .main__inner .main__contents__title .title-res {
    display: block;
    margin-left: 30%;
  }
  main .main__inner .main__contents__title .title-pc {
    display: none;
  }
  main .main__inner .main__contents .main__contents__type1 {
    margin-bottom: 7.1428571429em;
    height: 435px;
  }
  main .main__inner .main__contents .type1 {
    position: initial;
  }
  main .main__inner .main__contents .type1__visual {
    border-radius: 0 30px 30px 0;
    position: initial;
    width: 92.75%;
    height: 248px;
    margin-right: auto;
    border: none;
  }
  main .main__inner .main__contents .type1__visual img {
    border-radius: 0 30px 30px 0;
    border: 0.0714285714em solid #000;
    display: block;
  }
  main .main__inner .main__contents .type1__visual__about {
    display: none;
  }
  main .main__inner .main__contents .type1__visual__tumai {
    display: none;
  }
  main .main__inner .main__contents .type1__body {
    border-radius: 25px 25px 25px 25px;
    padding: 0 1.4285714286em;
    position: initial;
    background-color: transparent;
    width: 100%;
    height: 188px;
    left: 0;
  }
  main .main__inner .main__contents .type1__body-rig {
    border-radius: 25px 25px 25px 25px;
    padding: 0 1.4285714286em;
    position: initial;
    background-color: transparent;
    width: 100%;
    height: 188px;
    left: 0;
  }
  main .main__inner .main__contents .type1 .type2__visual {
    border-radius: 30px 0 0 30px;
    position: initial;
    width: 92.75%;
    height: 248px;
    padding: 0;
    margin-left: auto;
    border: none;
  }
  main .main__inner .main__contents .type1 .type2__visual img {
    border-radius: 30px 0 0 30px;
    border: 0.0714285714em solid #000;
    display: block;
  }
  main .main__inner .main__contents .type1 .type2__visual__shop {
    display: none;
  }
  main .main__inner .main__contents .type1 .type2__visual__tumami {
    display: none;
  }
  main .main__inner .main__contents .type1 .type2__visual__art_plaster {
    display: none;
  }
  main .main__inner .main__contents .type1 .type2__visual__class {
    display: none;
  }
  main .main__inner .main__contents .type1 .type1__title {
    font-size: 18px;
    margin: 16px 0 30px;
  }
  main .main__inner .main__contents .type1 .type1__text {
    font-size: 1em;
    margin: 30px 0;
    text-align: left;
  }
  main .main__inner .main__contents .type1__btn {
    display: block;
    text-align: right;
    margin-top: 2.1428571429em;
  }
  main .main__inner .main__contents .btn .btn__link .btn__co {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #000;
    height: 32px;
    width: 110px;
    right: 1.25em;
  }
  main .main__inner .main__contents .btn .btn__link .btn__co p {
    display: block;
  }
  main .main__inner .main__contents .btn .btn__link .btn__co .mark-or-symbol {
    display: block;
  }
  main .main__inner .main__contents .btn .btn__link .btn__co .mark-or-symbol-pc {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */