body {
  background-color: #f6f4ee;
  font-size: 14px;
  font-family: YuMincho, "Yu Mincho", "SFpro", Arial, Helvetica, sans-serif;
  max-width: 429px;
  margin: 0 auto;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  height: 60px;
}
header .header__inner .logo {
  padding: 10px 0;
}
header .header__inner .logo img {
  width: 56.39px;
  height: 40px;
}
header .header__inner .nav .gnav {
  padding: 20px 0;
}

main .main__inner .main__visual__img {
  margin-left: 70px;
  padding-bottom: 60px;
}
main .main__inner .main__visual__img img {
  width: 343px;
  height: 776px;
}
main .main__inner .main__contents__title {
  margin-bottom: 60px;
}
main .main__inner .main__contents .main__contents__type1 {
  margin-bottom: 10.7142857143em;
}
main .main__inner .main__contents .type1__visual {
  border-radius: 0 30px 30px 0;
  padding-right: 20px;
  width: 27.4285714286em;
  height: 17.7142857143em;
  border: 0.0714285714em solid #000;
  margin-right: auto;
}
main .main__inner .main__contents .type1 .type2__visual {
  border-radius: 30px 0 0 30px;
  padding-left: 20px;
  width: 27.4285714286em;
  height: 17.7142857143em;
  border: 0.0714285714em solid #000;
  margin-left: auto;
}
main .main__inner .main__contents .type1__body {
  padding: 0 20px;
  text-align: left;
}
main .main__inner .main__contents .type1__body .type1__title {
  font-size: 18px;
  margin: 16px 0 30px;
}
main .main__inner .main__contents .type1__body .type1__text {
  font-size: 1em;
  margin: 30px 0;
}
main .main__inner .main__contents .type1__btn {
  display: block;
  text-align: right;
  margin-top: 2.1428571429em;
}
main .main__inner .main__contents .btn .btn__link .btn__co {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px 20px 20px 20px;
  border: 0.0714285714em solid #000;
  max-width: 7.8571428571em;
  padding: 0.6428571429em 2.5714285714em;
}

.footer {
  padding: 0 20px;
  color: #fff;
  background-color: #2f1e17;
}
.footer__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__about__logo {
  width: 50px;
  height: 35px;
}
.footer__about__title span {
  font-size: 12px;
}
.footer__about .Instagram-link .Instagram {
  max-width: 24px;
  max-height: 24px;
}
.footer__nav .gnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__nav .gnav li {
  width: 33.3%;
}
.footer__nav .gnav li a {
  color: #fff;
}
/*# sourceMappingURL=responsive.css.map */