@charset "UTF-8";
/*tabの形状*/
.tab {
  display: flex;
  flex-wrap: wrap;
}

.tab li a {
  display: block;
  background: #ddd;
  margin: 0 2px;
  padding: 10px 20px;
}

/*liにactiveクラスがついた時の形状*/
/*エリアの表示非表示と形状*/
.area {
  display: none;
  /*はじめは非表示*/
  opacity: 0;
  /*透過0*/
  padding: 50px 20px;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
  display: block;
  /*表示*/
  -webkit-animation-name: displayAnime;
          animation-name: displayAnime;
  /*ふわっと表示させるためのアニメーション*/
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*tabの形状*/
.tab {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
}

.tab li a {
  display: block;
  background: #ddd;
  margin: 0 2px;
  padding: 10px 20px;
}

/*liにactiveクラスがついた時の形状*/
/*エリアの表示非表示と形状*/
.area {
  display: none;
  /*はじめは非表示*/
  opacity: 0;
  /*透過0*/
  padding: 0 20px;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
  display: block;
  /*表示*/
  -webkit-animation-name: displayAnime;
          animation-name: displayAnime;
  /*ふわっと表示させるためのアニメーション*/
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*========= レイアウトのためのCSS ===============*/
body {
  background: #eee;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

.wrapper {
  max-width: 1280px;
  margin: 1.875em auto 5em;
}

.area h2 {
  font-size: 1.3rem;
  margin: 0 0 20px 10px;
}

.area li {
  border-bottom: 1px solid #ddd;
}

ul {
  padding: 0;
}

#tumami {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tumami-list1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}

.tumami-list2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}

.tumami-list3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}

.tumami-list1 .tumami-img {
  padding: 0;
  margin: 5px;
  border: 1px solid #000;
  height: 488px;
  width: 361px;
}

.tumami-list2 .tumami-img {
  padding: 0;
  margin: 5px;
  border: 1px solid #000;
  height: 488px;
  width: 361px;
}

.tumami-list3 .tumami-img {
  padding: 0;
  margin: 5px;
  border: 1px solid #000;
  height: 488px;
  width: 361px;
}

.tumami-list2 .tumami-img:nth-of-type(1) {
  height: 361px;
}

.art-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.area .art-img {
  padding: 0;
  margin: 5px;
  border: 1px solid #000;
  height: 488px;
  width: 30%;
}

.area .art-img:nth-of-type(2) {
  height: 361px;
}

/*==================  gallery ===================================*/
h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

body {
  background-color: #f6f4ee;
  font-size: 16px;
  font-family: YuMincho, "Yu Mincho", "SFpro", Arial, Helvetica, sans-serif;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .main__inner {
    width: 414px;
    margin: 0 auto;
  }
}
ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  vertical-align: middle;
}

/*ボタン*/
.btn {
  width: 76.92%;
}
.btn__link__submit {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border-radius: 20px 20px 20px 20px;
  border: 0.0714285714em solid #000;
  max-width: 7.8571428571em;
  padding: 0.6428571429em 2.5714285714em;
  background-color: #fff;
}
.btn__link__submit__text {
  margin: 0;
}
/*==================  component ===================================*/
/*==================  header ===================================*/
header {
  height: 100px;
  justify-content: center;
}
header .header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 3.75em;
  align-items: center;
  height: 100px;
}
header .header__inner .logo {
  margin: 10px 0;
}
header .header__inner .logo img {
  width: 56.39px;
  height: 40px;
}
header .header__inner .nav .gnav {
  padding: 20px 0;
}

/*　ハンバーガーボタン　*/
.hamburger {
  display: block;
  position: fixed;
  z-index: 3;
  right: 13px;
  top: 12px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}

.hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: #555;
  transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 10px;
}

.hamburger span:nth-child(2) {
  top: 20px;
}

.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top: 16px;
  left: 6px;
  background: #fff;
  transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background: #fff;
  transform: rotate(45deg);
}

nav.globalMenuSp {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

nav.globalMenuSp ul {
  margin: auto;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 20%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  height: 20%;
  transition: 0.4s all;
}

nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}

nav.globalMenuSp ul li:hover {
  background: #ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1.9047619048em 0;
  text-decoration: none;
  font-size: 21px;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  display: block;
  opacity: 100;
  height: 100%;
}

/*==================  component ===================================*/
/*==================　footer　===================================*/
footer {
  padding: 0 1.4285714286em;
  color: #fff;
  background-color: #2f1e17;
}

.footer__about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0.625em;
  align-items: center;
}
.footer__about__logo {
  width: 50px;
  height: 35px;
}
.footer__about__title span {
  font-size: 12px;
}
.footer__about .Instagram-link .Instagram {
  max-width: 24px;
  max-height: 24px;
}

.footer__nav__gnav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.25em 0;
}
.footer__nav__gnav__li {
  width: 33.3%;
  border-left: 1px solid #fff;
}
.footer__nav__gnav__li a {
  color: #fff;
  font-size: 14px;
}

.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #3584bb;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}

.menu-btn span:before {
  bottom: 8px;
}

.menu-btn span:after {
  top: 8px;
}

/*==================  component ===================================*/
/*==================  header ===================================*/
/*==================　footer　===================================*/
/* =========== culture-class ============================ */
.main__inner .culture__visual {
  position: relative;
}
.main__inner .culture__visual__img {
  width: 100%;
  height: 331px;
  display: none;
}
.main__inner .culture__visual .work {
  padding: 0 1.4285714286em;
  position: absolute;
  bottom: 0;
  right: 0;
}
.main__inner .culture__visual .work__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.main__inner .culture__visual .work__nav__list {
  color: #262845;
  font-size: 16px;
  margin-left: 0.5625em;
  -webkit-text-decoration: 1px underline #262845;
          text-decoration: 1px underline #262845;
}
.main__inner .charset__content {
  margin-bottom: 4.375em;
  padding: 0 1.4285714286em;
  /* club */
}
.main__inner .charset__content__class {
  margin: 3.75em 0 4.375em;
}
.main__inner .charset__content__class__title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin: 0 0 2.5em;
}
.main__inner .charset__content__class__title__name.culture {
  padding-left: 2em;
  padding-right: 0;
  margin: 0 20% 8.5em;
}
.main__inner .charset__content__class__title__name.culture .culture {
  padding: 0 1.4285714286em;
}
.main__inner .charset__content__class__title__name.culture .culture__name {
  text-align: left;
  margin-bottom: 1.6666666667em;
  font-size: 24px;
  font-weight: bold;
}
.main__inner .charset__content__class__title__name.culture .culture__day {
  border-bottom: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5em 0;
}
.main__inner .charset__content__class__title__name.culture .culture__day__title {
  font-size: 24px;
  margin-left: 1em;
}
.main__inner .charset__content__class__title__name.culture .culture__day__text {
  font-size: 20px;
  text-align: left;
  margin-left: 2em;
}
.main__inner .charset__content__class__title__name.culture .culture__Place {
  border-bottom: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5em 0;
}
.main__inner .charset__content__class__title__name.culture .culture__Place__title {
  font-size: 24px;
  margin-left: 1em;
}
.main__inner .charset__content__class__title__name.culture .culture__Place__text {
  font-size: 20px;
  text-align: left;
  margin-left: 2em;
}
.main__inner .charset__content__class__title__name.culture .culture__time {
  border-bottom: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5em 0;
}
.main__inner .charset__content__class__title__name.culture .culture__time__title {
  font-size: 24px;
  margin-left: 1em;
}
.main__inner .charset__content__class__title__name.culture .culture__time__text {
  font-size: 20px;
  text-align: left;
  margin-left: 2em;
}
.main__inner .charset__content__class__title__name.culture .culture__participation_cost {
  border-bottom: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5em 0;
}
.main__inner .charset__content__class__title__name.culture .culture__participation_cost__title {
  font-size: 24px;
  margin-left: 1em;
}
.main__inner .charset__content__class__title__name.culture .culture__participation_cost__text {
  font-size: 20px;
  text-align: left;
  margin-left: 2em;
}
.main__inner .charset__content__class__title__name.culture .culture__TEL {
  border-bottom: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5em 0;
}
.main__inner .charset__content__class__title__name.culture .culture__TEL__title {
  font-size: 24px;
  margin-left: 1em;
}
.main__inner .charset__content__class__title__name.culture .culture__TEL__text {
  font-size: 20px;
  text-align: left;
  margin-left: 2em;
}
.main__inner .charset__content__class__title__name.culture .culture__remarks {
  border-bottom: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5em 0;
}
.main__inner .charset__content__class__title__name.culture .culture__remarks__title {
  font-size: 24px;
  margin-left: 1em;
}
.main__inner .charset__content__class__title__name.culture .culture__remarks__text {
  font-size: 20px;
  text-align: left;
  margin-left: 2em;
}
.main__inner .charset__content__class__title__name.culture .culture__map {
  margin-top: 2.25em;
  align-items: center;
}
.main__inner .charset__content__class__title__name.culture .culture__map iframe {
  width: 100%;
  height: 500px;
}
.main__inner .charset__content__club {
  margin: 4.2857142857em 20% 4.375em;
}
.main__inner .charset__content__club__title {
  text-align: left;
  margin-bottom: 3em;
}
.main__inner .charset__content__club__title__name.culture {
  padding-left: 2em;
  padding-right: 0;
  margin-bottom: 1em;
}
.main__inner .charset__content__club__title__name.culture .culture {
  padding: 0 1.4285714286em;
}
.main__inner .charset__content__club__title__name.culture .culture__name {
  text-align: left;
  margin-bottom: 1.6666666667em;
  font-size: 24px;
  font-weight: bold;
}
.main__inner .charset__content__club__title__name.culture .culture__day {
  border-bottom: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5em 0;
}
.main__inner .charset__content__club__title__name.culture .culture__day__title {
  font-size: 24px;
  margin-left: 1em;
}
.main__inner .charset__content__club__title__name.culture .culture__day__text {
  font-size: 20px;
  text-align: left;
  margin-left: 2em;
}
.main__inner .charset__content__club__title__name.culture .culture__Place {
  border-bottom: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5em 0;
}
.main__inner .charset__content__club__title__name.culture .culture__Place__title {
  font-size: 24px;
  margin-left: 1em;
}
.main__inner .charset__content__club__title__name.culture .culture__Place__text {
  font-size: 20px;
  text-align: left;
  margin-left: 2em;
}
.main__inner .charset__content__club__title__name.culture .culture__time {
  border-bottom: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5em 0;
}
.main__inner .charset__content__club__title__name.culture .culture__time__title {
  font-size: 24px;
  margin-left: 1em;
}
.main__inner .charset__content__club__title__name.culture .culture__time__text {
  font-size: 20px;
  text-align: left;
  margin-left: 2em;
}
.main__inner .charset__content__club__title__name.culture .culture__participation_cost {
  border-bottom: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5em 0;
}
.main__inner .charset__content__club__title__name.culture .culture__participation_cost__title {
  font-size: 24px;
  margin-left: 1em;
}
.main__inner .charset__content__club__title__name.culture .culture__participation_cost__text {
  font-size: 20px;
  text-align: left;
  margin-left: 2em;
}
.main__inner .charset__content__club__title__name.culture .culture__TEL {
  border-bottom: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5em 0;
}
.main__inner .charset__content__club__title__name.culture .culture__TEL__title {
  font-size: 24px;
  margin-left: 1em;
}
.main__inner .charset__content__club__title__name.culture .culture__TEL__text {
  font-size: 20px;
  text-align: left;
  margin-left: 2em;
}
.main__inner .charset__content__club__title__name.culture .culture__remarks {
  border-bottom: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5em 0;
}
.main__inner .charset__content__club__title__name.culture .culture__remarks__title {
  font-size: 24px;
  margin-left: 1em;
}
.main__inner .charset__content__club__title__name.culture .culture__remarks__text {
  font-size: 20px;
  text-align: left;
  margin-left: 2em;
}
.main__inner .charset__content__club__title__name.culture .culture__map {
  margin-top: 2.25em;
  align-items: center;
}
.main__inner .charset__content__club__title__name.culture .culture__map iframe {
  width: 100%;
  height: 500px;
}

/* =========== responsive ============================ */
@media screen and (max-width: 414px) {
  .main__inner {
    padding: 0;
  }
  .main__inner .culture__visual {
    position: relative;
  }
  .main__inner .culture__visual__img {
    width: 100%;
    height: 331px;
    display: block;
  }
  .main__inner .culture__visual .work {
    padding: 0 1.4285714286em;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .main__inner .culture__visual .work__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .main__inner .culture__visual .work__nav__list {
    color: #262845;
    font-size: 16px;
    margin-left: 0.5625em;
    -webkit-text-decoration: 1px underline #262845;
            text-decoration: 1px underline #262845;
  }
  .main__inner .charset__content {
    margin-bottom: 4.375em;
    padding: 0 1.4285714286em;
    /* club */
  }
  .main__inner .charset__content__class {
    margin: 4.2857142857em 0 4.375em;
  }
  .main__inner .charset__content__class__title {
    font-size: 18px;
    text-align: left;
    margin: 0 0 2.2222222222em;
  }
  .main__inner .charset__content__class__title__name.culture {
    padding: 0 1.4285714286em;
    margin: 0 0 8.5em;
  }
  .main__inner .charset__content__class__title__name.culture .culture {
    padding: 0 1.4285714286em;
  }
  .main__inner .charset__content__class__title__name.culture .culture__name {
    font-size: 16px;
    text-align: left;
    margin-bottom: 1.25em;
  }
  .main__inner .charset__content__class__title__name.culture .culture__day {
    border-bottom: 1px solid #000;
    display: block;
    padding: 0;
  }
  .main__inner .charset__content__class__title__name.culture .culture__day__title {
    text-align: center;
    margin-top: 0.5714285714em;
    margin-bottom: 1.0714285714em;
    font-size: 16px;
  }
  .main__inner .charset__content__class__title__name.culture .culture__day__text {
    text-align: center;
    margin-bottom: 0.7142857143em;
    font-size: 14px;
  }
  .main__inner .charset__content__class__title__name.culture .culture__Place {
    border-bottom: 1px solid #000;
    display: block;
  }
  .main__inner .charset__content__class__title__name.culture .culture__Place__title {
    text-align: center;
    margin-top: 0.5714285714em;
    margin-bottom: 1.0714285714em;
    font-size: 16px;
  }
  .main__inner .charset__content__class__title__name.culture .culture__Place__text {
    text-align: center;
    margin-bottom: 0.7142857143em;
    font-size: 14px;
  }
  .main__inner .charset__content__class__title__name.culture .culture__time {
    border-bottom: 1px solid #000;
    display: block;
  }
  .main__inner .charset__content__class__title__name.culture .culture__time__title {
    text-align: center;
    margin-top: 0.5714285714em;
    margin-bottom: 1.0714285714em;
    font-size: 16px;
  }
  .main__inner .charset__content__class__title__name.culture .culture__time__text {
    text-align: center;
    margin-bottom: 0.7142857143em;
    font-size: 14px;
  }
  .main__inner .charset__content__class__title__name.culture .culture__participation_cost {
    border-bottom: 1px solid #000;
    display: block;
  }
  .main__inner .charset__content__class__title__name.culture .culture__participation_cost__title {
    text-align: center;
    margin-top: 0.5714285714em;
    margin-bottom: 1.0714285714em;
    font-size: 16px;
  }
  .main__inner .charset__content__class__title__name.culture .culture__participation_cost__text {
    text-align: center;
    margin-bottom: 0.7142857143em;
    font-size: 14px;
  }
  .main__inner .charset__content__class__title__name.culture .culture__TEL {
    border-bottom: 1px solid #000;
    display: block;
  }
  .main__inner .charset__content__class__title__name.culture .culture__TEL__title {
    text-align: center;
    margin-top: 0.5714285714em;
    margin-bottom: 1.0714285714em;
    font-size: 16px;
  }
  .main__inner .charset__content__class__title__name.culture .culture__TEL__text {
    text-align: center;
    margin-bottom: 0.7142857143em;
    font-size: 14px;
  }
  .main__inner .charset__content__class__title__name.culture .culture__remarks {
    border-bottom: 1px solid #000;
    display: block;
  }
  .main__inner .charset__content__class__title__name.culture .culture__remarks__title {
    text-align: center;
    margin-top: 0.5714285714em;
    margin-bottom: 1.0714285714em;
    font-size: 16px;
  }
  .main__inner .charset__content__class__title__name.culture .culture__remarks__text {
    text-align: left;
    margin-bottom: 0.7142857143em;
    font-size: 14px;
  }
  .main__inner .charset__content__class__title__name.culture .culture__map {
    margin-top: 2.5714285714em;
  }
  .main__inner .charset__content__class__title__name.culture .culture__map iframe {
    max-width: 100%;
    height: 225px;
  }
  .main__inner .charset__content__club {
    margin: 3.75em 0 4.375em;
  }
  .main__inner .charset__content__club__title {
    font-size: 18px;
    text-align: left;
    margin: 0 0 2.2222222222em;
  }
  .main__inner .charset__content__club__title__name.culture {
    padding: 0 1.4285714286em;
    margin-bottom: 1em;
  }
  .main__inner .charset__content__club__title__name.culture .culture {
    padding: 0 1.4285714286em;
  }
  .main__inner .charset__content__club__title__name.culture .culture__name {
    font-size: 16px;
    text-align: left;
    margin-bottom: 1.25em;
  }
  .main__inner .charset__content__club__title__name.culture .culture__day {
    border-bottom: 1px solid #000;
    display: block;
    padding: 0;
  }
  .main__inner .charset__content__club__title__name.culture .culture__day__title {
    text-align: center;
    margin-top: 0.5714285714em;
    margin-bottom: 1.0714285714em;
    font-size: 16px;
  }
  .main__inner .charset__content__club__title__name.culture .culture__day__text {
    text-align: center;
    margin-bottom: 0.7142857143em;
    font-size: 14px;
  }
  .main__inner .charset__content__club__title__name.culture .culture__Place {
    border-bottom: 1px solid #000;
    display: block;
    padding: 0;
  }
  .main__inner .charset__content__club__title__name.culture .culture__Place__title {
    text-align: center;
    margin-top: 0.5714285714em;
    margin-bottom: 1.0714285714em;
    font-size: 16px;
  }
  .main__inner .charset__content__club__title__name.culture .culture__Place__text {
    text-align: center;
    margin-bottom: 0.7142857143em;
    font-size: 14px;
  }
  .main__inner .charset__content__club__title__name.culture .culture__time {
    border-bottom: 1px solid #000;
    display: block;
    padding: 0;
  }
  .main__inner .charset__content__club__title__name.culture .culture__time__title {
    text-align: center;
    margin-top: 0.5714285714em;
    margin-bottom: 1.0714285714em;
    font-size: 16px;
  }
  .main__inner .charset__content__club__title__name.culture .culture__time__text {
    text-align: center;
    margin-bottom: 0.7142857143em;
    font-size: 14px;
  }
  .main__inner .charset__content__club__title__name.culture .culture__participation_cost {
    border-bottom: 1px solid #000;
    display: block;
    padding: 0;
  }
  .main__inner .charset__content__club__title__name.culture .culture__participation_cost__title {
    text-align: center;
    margin-top: 0.5714285714em;
    margin-bottom: 1.0714285714em;
    font-size: 16px;
  }
  .main__inner .charset__content__club__title__name.culture .culture__participation_cost__text {
    text-align: center;
    margin-bottom: 0.7142857143em;
    font-size: 14px;
  }
  .main__inner .charset__content__club__title__name.culture .culture__TEL {
    border-bottom: 1px solid #000;
    display: block;
    padding: 0;
  }
  .main__inner .charset__content__club__title__name.culture .culture__TEL__title {
    text-align: center;
    margin-top: 0.5714285714em;
    margin-bottom: 1.0714285714em;
    font-size: 16px;
  }
  .main__inner .charset__content__club__title__name.culture .culture__TEL__text {
    text-align: center;
    margin-bottom: 0.7142857143em;
    font-size: 14px;
  }
  .main__inner .charset__content__club__title__name.culture .culture__remarks {
    border-bottom: 1px solid #000;
    display: block;
    padding: 0;
  }
  .main__inner .charset__content__club__title__name.culture .culture__remarks__title {
    text-align: center;
    margin-top: 0.5714285714em;
    margin-bottom: 1.0714285714em;
    font-size: 16px;
  }
  .main__inner .charset__content__club__title__name.culture .culture__remarks__text {
    text-align: left;
    margin-bottom: 0.7142857143em;
    font-size: 14px;
  }
  .main__inner .charset__content__club__title__name.culture .culture__map {
    margin-top: 2.25em;
  }
  .main__inner .charset__content__club__title__name.culture .culture__map iframe {
    max-width: 100%;
    height: 225px;
  }
}
/*==================  component ===================================*/
/*==================  header ===================================*/
/*==================　footer　===================================*/
/* main==================================== */
.main__inner .tumami__visual {
  position: relative;
}
.main__inner .tumami__visual__img {
  width: 100%;
  height: 331px;
  display: none;
}
.main__inner .tumami__visual__img-pc {
  height: 655px;
  background: url("/img/tumami/tumami-main_visual-pc.png");
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.main__inner .tumami__visual .work {
  padding: 0 1.4285714286em;
  position: absolute;
  bottom: 0;
  right: 0;
}
.main__inner .tumami__visual .work__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.main__inner .tumami__visual .work__nav__list {
  color: #262845;
  font-size: 16px;
  margin-left: 0.5625em;
  -webkit-text-decoration: 1px underline #262845;
          text-decoration: 1px underline #262845;
}
.main__inner .work__content {
  max-width: 1280px;
  margin: 5em auto 7.5em;
  text-align: left;
}
.main__inner .work__content .tumami__title {
  padding: 0 1.4285714286em;
  font-size: 24px;
  color: #000;
}
.main__inner .work__content .tumami__shop {
  padding: 0 1.875em;
  margin: 3.75em 0 7.5em;
  height: 554px;
  position: relative;
}
.main__inner .work__content .tumami__shop .tumami__visual {
  border-radius: 30px 30px 30px 30px;
  width: 825px;
  height: 500px;
  border: 0.0714285714em solid #000;
  margin-right: auto;
  right: auto;
  float: right;
}
.main__inner .work__content .tumami__shop__btn {
  position: absolute;
  float: left;
  bottom: 0;
}
.main__inner .work__content .tumami__shop__btn a {
  border-radius: 15px 15px 15px 15px;
  color: #fff;
  font-size: 18px;
  background-color: #eaa1ba;
  border: 1px solid #eaa1ba;
  text-align: center;
  vertical-align: middle;
  display: block;
  width: 550px;
  align-items: center;
  padding: 3.3333333333em 10.8333333333em 3.3333333333em;
}
.main__inner .work__content .tumami__introduction {
  margin: 5em 0 3.75em;
}
.main__inner .work__content .tumami__introduction__history {
  padding: 0 1.875em;
  margin-bottom: 5em;
}
.main__inner .work__content .tumami__introduction__history__visual {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3.75em;
  padding: 0 2.5625em;
}
.main__inner .work__content .tumami__introduction__history__visual-list1 {
  border-radius: 25px 25px 25px 25px;
}
.main__inner .work__content .tumami__introduction__history__visual-list1__img {
  width: 715px;
  height: 330px;
}
.main__inner .work__content .tumami__introduction__history__visual-list1__img2 {
  width: 330px;
  height: 434px;
}
.main__inner .work__content .tumami__introduction__history__visual-list1:nth-of-type(1) {
  padding: 0 192.5px 0;
  margin-bottom: 5%;
}
.main__inner .work__content .tumami__introduction__history__visual-list1:nth-of-type(3) {
  height: 434px;
  margin-left: 5%;
}
.main__inner .work__content .tumami__introduction__history__visual-list1:nth-of-type(4) {
  width: 30%;
  height: 434px;
  margin-left: 5%;
  display: none;
}
.main__inner .work__content .tumami__introduction__history__text {
  padding: 0 1.4285714286em;
  font-size: 18px;
  line-height: 1.8em;
  letter-spacing: 0.05em;
}
.main__inner .work__content .tumami__introduction__Example_of_use {
  padding: 0 1.875em;
}
.main__inner .work__content .tumami__introduction__Example_of_use__visual {
  padding: 0 3.75em 0;
  margin-bottom: 3.75em;
  position: relative;
  height: 640px;
}
.main__inner .work__content .tumami__introduction__Example_of_use__visual-list2 {
  position: absolute;
}
.main__inner .work__content .tumami__introduction__Example_of_use__visual-list2__img {
  width: 330px;
  height: 434px;
}
.main__inner .work__content .tumami__introduction__Example_of_use__visual-list2__img2 {
  width: 330px;
  height: 434px;
}
.main__inner .work__content .tumami__introduction__Example_of_use__visual-list2__img3 {
  width: 330px;
  height: 330px;
}
.main__inner .work__content .tumami__introduction__Example_of_use__visual-list2:nth-of-type(1) {
  width: 330px;
  height: 434px;
  top: 0;
  left: 10%;
}
.main__inner .work__content .tumami__introduction__Example_of_use__visual-list2:nth-of-type(2) {
  width: 330px;
  height: 434px;
  top: 200px;
  left: 35%;
}
.main__inner .work__content .tumami__introduction__Example_of_use__visual-list2:nth-of-type(3) {
  width: 330px;
  height: 330px;
  top: 59px;
  right: 10%;
  line-height: 1.6em;
  letter-spacing: 0.1em;
}
.main__inner .work__content .tumami__introduction__Example_of_use__text {
  padding: 0 1.4285714286em;
  font-size: 18px;
  margin-bottom: 1.1111111111em;
}
.main__inner .work__content .tumami__introduction__Example_of_use__annotation {
  padding: 0 1.6666666667em;
  font-size: 12px;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  margin: 1.6666666667em 0 10em 6.0833333333em;
}

/* ============================= responsive ========================= */
@media screen and (max-width: 414px) {
  .main__inner .tumami__visual {
    position: relative;
  }
  .main__inner .tumami__visual__img {
    width: 100%;
    height: 331px;
    display: block;
  }
  .main__inner .tumami__visual__img-pc {
    display: none;
  }
  .main__inner .tumami__visual .work {
    padding: 0 1.4285714286em;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .main__inner .tumami__visual .work__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .main__inner .tumami__visual .work__nav__list {
    color: #262845;
    font-size: 16px;
    margin-left: 0.5625em;
    -webkit-text-decoration: 1px underline #262845;
            text-decoration: 1px underline #262845;
  }
  .main__inner .work__content {
    margin: 2.5em 0 8.5714285714em;
    text-align: left;
  }
  .main__inner .work__content .tumami__title {
    padding: 0 1.4285714286em;
    font-size: 24px;
    color: #000;
  }
  .main__inner .work__content .tumami__shop {
    margin: 3.75em 0 5em;
    padding: 0;
    height: 372px;
  }
  .main__inner .work__content .tumami__shop .tumami__visual {
    border-radius: 0 30px 30px 0;
    width: 24em;
    height: 15.5em;
    border: 0.0625em solid #000;
    margin-right: auto;
    position: initial;
    float: left;
  }
  .main__inner .work__content .tumami__shop__btn {
    border-radius: 15px 15px 15px 15px;
    margin: 3.75em 1.25em 0;
    width: 90.34%;
    bottom: 0;
  }
  .main__inner .work__content .tumami__shop__btn a {
    font-size: 16px;
    color: #fff;
    background-color: #eaa1ba;
    border: 1px solid #eaa1ba;
    padding: 1.4375em 7.5em;
    text-align: center;
    width: auto;
    height: auto;
    position: initial;
  }
  .main__inner .work__content .tumami__introduction {
    margin: 5.7142857143em 0 3.75em;
  }
  .main__inner .work__content .tumami__introduction__history {
    padding: 0 1.4285714286em;
    margin-bottom: 3.75em;
  }
  .main__inner .work__content .tumami__introduction__history__visual {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3.75em;
    padding: 0;
  }
  .main__inner .work__content .tumami__introduction__history__visual-list1 {
    height: 188px;
    width: auto;
  }
  .main__inner .work__content .tumami__introduction__history__visual-list1__img {
    border-radius: 25px 25px 25px 25px;
    border: 1px solid #000;
    height: 188px;
    width: auto;
  }
  .main__inner .work__content .tumami__introduction__history__visual-list1__img2 {
    border-radius: 25px 25px 25px 25px;
    border: 1px solid #000;
    height: 212px;
    width: auto;
  }
  .main__inner .work__content .tumami__introduction__history__visual-list1:nth-of-type(1) {
    margin: 0 0 0.625em 1.25em;
    border: none;
    padding: 0;
  }
  .main__inner .work__content .tumami__introduction__history__visual-list1:nth-of-type(2) {
    height: 212px;
    margin: 0 0.625em 0 0;
  }
  .main__inner .work__content .tumami__introduction__history__visual-list1:nth-of-type(3) {
    margin: 0 0 0 0.625em;
    height: 212px;
  }
  .main__inner .work__content .tumami__introduction__history__visual-list1:nth-of-type(4) {
    display: none;
  }
  .main__inner .work__content .tumami__introduction__history__text {
    padding: 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.05em;
  }
  .main__inner .work__content .tumami__introduction__Example_of_use {
    padding: 0 1.4285714286em;
  }
  .main__inner .work__content .tumami__introduction__Example_of_use__visual {
    padding: 0;
    position: relative;
    height: 315px;
  }
  .main__inner .work__content .tumami__introduction__Example_of_use__visual-list2 {
    position: absolute;
  }
  .main__inner .work__content .tumami__introduction__Example_of_use__visual-list2__img {
    height: 189px;
    width: auto;
  }
  .main__inner .work__content .tumami__introduction__Example_of_use__visual-list2__img2 {
    height: 120px;
    width: auto;
  }
  .main__inner .work__content .tumami__introduction__Example_of_use__visual-list2:nth-of-type(1) {
    height: 189px;
  }
  .main__inner .work__content .tumami__introduction__Example_of_use__visual-list2:nth-of-type(2) {
    height: 189px;
    top: 126px;
  }
  .main__inner .work__content .tumami__introduction__Example_of_use__visual-list2:nth-of-type(3) {
    height: 120px;
    left: 230px;
  }
  .main__inner .work__content .tumami__introduction__Example_of_use__text {
    padding: 0;
    letter-spacing: 0.05em;
    line-height: 1.7;
    font-size: 14px;
    margin-bottom: 1.4285714286em;
  }
  .main__inner .work__content .tumami__introduction__Example_of_use__annotation {
    padding: 0 1.6666666667em;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 1.6;
    margin: 1.6666666667em 0 5em 6.0833333333em;
  }
}
/*==================  component ===================================*/
/*==================  header ===================================*/
/*==================　footer　===================================*/
/*==================　about　===================================*/
.main__inner .about__visual__img {
  width: 414px;
  height: 331px;
  display: none;
}
.main__inner .about__visual__img-pc {
  background: url("/img/about/about-thumbnail-pc.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 655px;
  width: 100%;
  display: block;
}
.main__inner .about__me {
  padding: 0 1.875em;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 3.75em;
  line-height: 1.3125em;
  margin: 3.75em auto 9.375em;
}
.main__inner .about__me__title {
  margin-bottom: 3.75em;
}
.main__inner .about__me__title__img {
  display: none;
}
.main__inner .about__me__title__img-pc {
  display: block;
  margin-left: 30%;
}
.main__inner .about__me .about__introduction {
  margin-bottom: 4.3125em;
}
.main__inner .about__me .about__introduction__text {
  font-size: 16px;
  text-align: left;
  line-height: 2.8em;
  letter-spacing: 0.05em;
}
.main__inner .about__me .about__purchase {
  margin-bottom: 4.3125em;
}
.main__inner .about__me .about__purchase__title {
  font-size: 21px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.7142857143em;
}
.main__inner .about__me .about__purchase__text {
  text-align: left;
  line-height: 2.8em;
  letter-spacing: 0.05em;
}
.main__inner .business__description {
  padding: 0 1.875em;
  max-width: 1280px;
  margin: 0 auto 5em;
  /* ショップ */
  /* つまみ細工 */
  /* アートプラスター */
  /* 教室・サークル */
}
.main__inner .business__description__shop {
  margin-bottom: 12.5em;
  position: relative;
}
.main__inner .business__description__shop__thumbnail {
  background: url("/img/about/about-shop-pc.png");
  border-radius: 30px 30px 30px 30px;
  position: relative;
  width: 71.24%;
  height: 500px;
  border: 1px solid #000;
}
.main__inner .business__description__shop__thumbnail-flowers {
  width: 24.24%;
  position: absolute;
  top: -40px;
  left: -40px;
}
.main__inner .business__description__shop .btn__link__submit {
  float: right;
}
.main__inner .business__description__shop__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 30px 30px 30px 30px;
  padding: 3.75em;
  background-color: #fff;
  float: right;
  width: 38.24%;
  right: 0;
  bottom: -80px;
  position: absolute;
}
.main__inner .business__description__shop__content__title {
  align-items: center;
  margin: 0;
  padding-bottom: 1.1111111111em;
}
.main__inner .business__description__shop__content__text {
  text-align: left;
  margin: 0;
  font-size: 16px;
  padding-bottom: 1.9375em;
  line-height: 2.8em;
  letter-spacing: 0.05em;
}
.main__inner .business__description__tumami {
  margin-bottom: 12.5em;
  position: relative;
}
.main__inner .business__description__tumami__thumbnail {
  border-radius: 30px 30px 30px 30px;
  background: url("/img/about/about-tumami-pc.png");
  position: relative;
  width: 71.24%;
  height: 500px;
  border: 1px solid #000;
}
.main__inner .business__description__tumami__thumbnail-flowers {
  width: 24.24%;
  position: absolute;
  top: -40px;
  left: -40px;
}
.main__inner .business__description__tumami__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 30px 30px 30px 30px;
  padding: 3.75em;
  background-color: #fff;
  position: absolute;
  width: 38.24%;
  right: 0;
  bottom: -80px;
}
.main__inner .business__description__tumami__content__title {
  align-items: center;
  margin: 0;
  padding-bottom: 1.1111111111em;
}
.main__inner .business__description__tumami__content__text {
  text-align: left;
  font-size: 16px;
  margin: 0;
  padding-bottom: 1.9375em;
  line-height: 2.8em;
  letter-spacing: 0.05em;
}
.main__inner .business__description__art-Plaster {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 12.5em;
  position: relative;
}
.main__inner .business__description__art-Plaster__thumbnail {
  border-radius: 30px 30px 30px 30px;
  background: url("/img/about/about-art_plaster-pc.png");
  position: relative;
  width: 71.24%;
  height: 500px;
  border: 1px solid #000;
}
.main__inner .business__description__art-Plaster__thumbnail-flowers {
  width: 24.24%;
  position: absolute;
  top: -40px;
  left: -40px;
}
.main__inner .business__description__art-Plaster__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 30px 30px 30px 30px;
  padding: 3.75em;
  background-color: #fff;
  position: absolute;
  width: 38.24%;
  right: 0;
  bottom: -80px;
}
.main__inner .business__description__art-Plaster__content__title {
  align-items: center;
  margin: 0;
  padding-bottom: 1.1111111111em;
}
.main__inner .business__description__art-Plaster__content__text {
  text-align: left;
  font-size: 16px;
  margin: 0;
  padding-bottom: 1.9375em;
  line-height: 2.8em;
  letter-spacing: 0.05em;
}
.main__inner .business__description__circle {
  margin-bottom: 12.5em;
  position: relative;
}
.main__inner .business__description__circle__thumbnail {
  border-radius: 30px 30px 30px 30px;
  background: url("/img/about/about-art_class-pc.png");
  position: relative;
  width: 71.24%;
  height: 500px;
  border: 1px solid #000;
}
.main__inner .business__description__circle__thumbnail-flowers {
  width: 24.24%;
  position: absolute;
  top: -40px;
  left: -40px;
}
.main__inner .business__description__circle__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 30px 30px 30px 30px;
  padding: 3.75em;
  background-color: #fff;
  position: absolute;
  width: 38.24%;
  right: 0;
  bottom: -80px;
}
.main__inner .business__description__circle__content__title {
  text-align: left;
  margin: 0;
  padding-bottom: 1.1111111111em;
}
.main__inner .business__description__circle__content__text {
  text-align: left;
  font-size: 16px;
  margin: 0;
  padding-bottom: 1.9375em;
  line-height: 2.8em;
  letter-spacing: 0.05em;
}
.main__inner .gallery {
  padding: 0 1.4285714286em;
  max-width: 1280px;
  margin: 5.7142857143em auto 2.8571428571em;
}
.main__inner .gallery__title img {
  width: 21.19%;
}
.main__inner .gallery__btn1 {
  padding: 0.2857142857em 0.5714285714em;
  border-radius: 10px 10px 10px 10px;
}
.main__inner .gallery__btn2 {
  padding: 0.2857142857em 0.5714285714em;
  border-radius: 10px 10px 10px 10px;
}
.main__inner .gallery__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90.34%;
  align-items: flex-start;
}
.main__inner .gallery__content__list1 {
  width: 50%;
}
.main__inner .gallery__content__list2 {
  width: 50%;
}
.main__inner .gallery__content .gallery1 {
  width: 100%;
  height: 219px;
  border: 1px solid #000;
  margin: 0 0.8571428571em 0.8571428571em 0;
}
.main__inner .gallery__content .gallery2 {
  width: 100%;
  height: 219px;
  border: 1px solid #000;
  margin: 0 0 0.8571428571em 0.8571428571em;
}
.main__inner .gallery__content .gallery2:nth-of-type(1) {
  height: 160px;
}
.main__inner .btn.ga {
  margin-bottom: 5em;
}

/*==================　responsive　===================================*/
@media screen and (max-width: 414px) {
  .main__inner .about__visual__img {
    width: 414px;
    height: 331px;
    display: block;
  }
  .main__inner .about__visual__img-pc {
    display: none;
  }
  .main__inner .about__me {
    padding: 0 1.4285714286em;
    line-height: 1.3125;
    margin: 3.75em 0 9.375em;
  }
  .main__inner .about__me__title {
    margin-bottom: 2.5em;
  }
  .main__inner .about__me__title__img {
    display: block;
    margin-left: 30%;
  }
  .main__inner .about__me__title__img-pc {
    display: none;
  }
  .main__inner .about__me .about__introduction {
    margin-bottom: 4.3125em;
  }
  .main__inner .about__me .about__introduction__text {
    line-height: 1.7;
    letter-spacing: 0.05em;
    text-align: left;
  }
  .main__inner .about__me .about__purchase {
    margin-bottom: 4.3125em;
  }
  .main__inner .about__me .about__purchase__title {
    text-align: center;
    margin-bottom: 2.25em;
  }
  .main__inner .about__me .about__purchase__text {
    line-height: 1.7;
    letter-spacing: 0.05em;
    text-align: left;
  }
  .main__inner .business__description {
    padding: 0 1.4285714286em;
    margin-bottom: 5em;
    /* ショップ */
    /* つまみ細工 */
    /* アートプラスター */
    /* 教室・サークル */
  }
  .main__inner .business__description__shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2.8125em;
  }
  .main__inner .business__description__shop__thumbnail {
    border-radius: 30px 30px 30px 30px;
    position: relative;
    background: url("/img/about/about-shop-res.png");
    background-size: 194px 273px;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 53.3%;
    height: 275px;
    border: 1px solid #000;
  }
  .main__inner .business__description__shop__thumbnail-flowers {
    width: 47.62%;
    position: absolute;
    top: -20px;
    left: -20px;
  }
  .main__inner .business__description__shop__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 43%;
    padding: 0;
    background-color: initial;
    position: initial;
  }
  .main__inner .business__description__shop__content__title {
    font-size: 18px;
    align-items: center;
    margin: 0;
    padding-bottom: 1.1111111111em;
  }
  .main__inner .business__description__shop__content__text {
    line-height: 1.7;
    letter-spacing: 0.05em;
    font-size: 14px;
    text-align: left;
    margin: 0;
    padding-bottom: 2.2142857143em;
  }
  .main__inner .business__description__tumami {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3.2142857143em;
  }
  .main__inner .business__description__tumami__thumbnail {
    border-radius: 30px 30px 30px 30px;
    background: url("/img/about/about-tumami-res.png");
    background-size: 194px 273px;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    width: 53.3%;
    height: 275px;
    border: 1px solid #000;
  }
  .main__inner .business__description__tumami__thumbnail-flowers {
    width: 47.62%;
    position: absolute;
    top: -20px;
    left: -20px;
  }
  .main__inner .business__description__tumami__thumbnail-thumbnail {
    width: 194px;
    height: 273px;
  }
  .main__inner .business__description__tumami__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 43%;
    padding: 0;
    background-color: initial;
    position: initial;
    padding: 0;
  }
  .main__inner .business__description__tumami__content__title {
    font-size: 18px;
    align-items: center;
    margin: 0;
    padding-bottom: 1.1111111111em;
  }
  .main__inner .business__description__tumami__content__text {
    line-height: 1.7;
    letter-spacing: 0.05em;
    font-size: 14px;
    text-align: left;
    margin: 0;
    padding-bottom: 2.2142857143em;
  }
  .main__inner .business__description__tumami__content .btn {
    right: 0;
  }
  .main__inner .business__description__art-Plaster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3.2142857143em;
  }
  .main__inner .business__description__art-Plaster__thumbnail {
    border-radius: 30px 30px 30px 30px;
    background: url("/img/about/about-art_plaster-res.png");
    background-size: 194px 273px;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    width: 53.3%;
    height: 275px;
    border: 1px solid #000;
  }
  .main__inner .business__description__art-Plaster__thumbnail-flowers {
    width: 47.62%;
    position: absolute;
    top: -20px;
    left: -20px;
  }
  .main__inner .business__description__art-Plaster__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 43%;
    padding: 0;
    background-color: initial;
    position: initial;
  }
  .main__inner .business__description__art-Plaster__content__title {
    font-size: 18px;
    align-items: center;
    margin: 0;
    padding-bottom: 1.1111111111em;
  }
  .main__inner .business__description__art-Plaster__content__text {
    line-height: 1.7;
    letter-spacing: 0.05em;
    font-size: 14px;
    text-align: left;
    margin: 0;
    padding-bottom: 2.2142857143em;
  }
  .main__inner .business__description__circle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3.2142857143em;
  }
  .main__inner .business__description__circle__thumbnail {
    border-radius: 30px 30px 30px 30px;
    background: url("/img/about/about-art_class-res.png");
    background-size: 194px 273px;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    width: 53.3%;
    height: 275px;
    border: 1px solid #000;
  }
  .main__inner .business__description__circle__thumbnail-flowers {
    width: 47.62%;
    position: absolute;
    top: -20px;
    left: -20px;
  }
  .main__inner .business__description__circle__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 43%;
    padding: 0;
    background-color: initial;
    position: initial;
  }
  .main__inner .business__description__circle__content__title {
    font-size: 18px;
    align-items: center;
    margin: 0;
    padding-bottom: 1.1111111111em;
  }
  .main__inner .business__description__circle__content__text {
    line-height: 1.7;
    letter-spacing: 0.05em;
    font-size: 14px;
    text-align: left;
    margin: 0;
    padding-bottom: 2.2142857143em;
  }
  .main__inner .gallery {
    padding: 0 1.4285714286em;
    margin: 5.7142857143em 0 2.8571428571em;
  }
  .main__inner .gallery__title {
    margin-bottom: 1.25em;
  }
  .main__inner .gallery__title img {
    width: 21.19%;
  }
  .main__inner .gallery__btn {
    margin-bottom: 1.25em;
  }
  .main__inner .gallery__btn1 {
    padding: 0.2857142857em 0.5714285714em;
    border-radius: 10px 10px 10px 10px;
  }
  .main__inner .gallery__btn2 {
    padding: 0.2857142857em 0.5714285714em;
    border-radius: 10px 10px 10px 10px;
  }
  .main__inner .gallery__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0;
    background-color: initial;
    position: initial;
  }
  .main__inner .gallery__content__list1 {
    width: 50%;
  }
  .main__inner .gallery__content__list2 {
    width: 50%;
  }
  .main__inner .gallery__content .gallery1 {
    width: 100%;
    height: 219px;
    border: 1px solid #000;
    margin: 0 0.8571428571em 0.8571428571em 0;
  }
  .main__inner .gallery__content .gallery2 {
    width: 100%;
    height: 219px;
    border: 1px solid #000;
    margin: 0 0 0.8571428571em 0.8571428571em;
  }
  .main__inner .gallery__content .gallery2:nth-of-type(1) {
    height: 160px;
  }
  .main__inner .btn.ga {
    margin-bottom: 5em;
    margin-left: auto;
  }
}
/*==================  component ===================================*/
/*==================  header ===================================*/
/*==================　footer　===================================*/
/*================== index ===================================*/
main .main__inner .main__visual {
  height: 700px;
}
main .main__inner .main__visual__text {
  position: absolute;
  top: 332px;
  left: 20px;
  text-align: left;
  margin-left: 4.2857142857em;
}
main .main__inner .main__visual span {
  font-size: 60px;
  line-height: 1.6em;
  letter-spacing: 0.1em;
}
main .main__inner .main__visual__list {
  padding-bottom: 60px;
}
main .main__inner .main__visual__list__img1 {
  float: right;
}
main .main__inner .main__visual__list__img1 img {
  width: 100%;
}
main .main__inner .main__visual__list__img1 .img1 {
  display: none;
}
main .main__inner .main__visual__list__img2 {
  background: url("/img/index-img/tumami-thumbnail-pc-1.png");
  background-repeat: no-repeat;
  width: 80%;
  height: 600px;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: -1;
}
main .main__inner .main__contents {
  padding: 0 1.875em;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 7.1428571429em;
}
main .main__inner .main__contents__title {
  margin-bottom: 7.1428571429em;
  align-items: center;
}
main .main__inner .main__contents__title .title-res {
  display: none;
}
main .main__inner .main__contents .main__contents__type1 {
  margin-bottom: 10.7142857143em;
}
main .main__inner .main__contents .type1 {
  position: relative;
  height: 600px;
  margin-bottom: 8.5714285714em;
}
main .main__inner .main__contents .type1__visual {
  position: absolute;
  width: 73.66%;
  height: 500px;
  margin-right: auto;
}
main .main__inner .main__contents .type1__visual img {
  display: none;
}
main .main__inner .main__contents .type1__visual__about {
  border-radius: 25px 25px 25px 25px;
  background: url("/img/index-img/about-thumbnail-pc.png");
  border: 0.0714285714em solid #000;
  height: 500px;
  width: auto;
  display: block;
}
main .main__inner .main__contents .type1__body {
  border-radius: 25px 25px 25px 25px;
  background-color: #fff;
  position: absolute;
  padding: 4.2857142857em 4.2857142857em 4.2857142857em 4.2857142857em;
  width: 49.11%;
  left: 570px;
  bottom: 0;
}
main .main__inner .main__contents .type1__body-rig {
  border-radius: 25px 25px 25px 25px;
  background-color: #fff;
  position: absolute;
  padding: 4.2857142857em 4.2857142857em 4.2857142857em 4.2857142857em;
  width: 49.11%;
  left: 0;
  bottom: 0;
}
main .main__inner .main__contents .type1 .type2__visual {
  position: absolute;
  width: 73.66%;
  height: 500px;
  margin-left: auto;
  left: 295px;
}
main .main__inner .main__contents .type1 .type2__visual img {
  display: none;
}
main .main__inner .main__contents .type1 .type2__visual__shop {
  border-radius: 25px 25px 25px 25px;
  background: url("/img/index-img/shop-thumbnail-pc.png");
  background-repeat: no-repeat;
  border: 0.0714285714em solid #000;
  height: 500px;
  width: auto;
  display: block;
}
main .main__inner .main__contents .type1 .type2__visual__tumami {
  border-radius: 25px 25px 25px 25px;
  background: url("/img/index-img/tumami-thumbnail-pc.png");
  border: 0.0714285714em solid #000;
  height: 500px;
  width: auto;
  display: block;
}
main .main__inner .main__contents .type1 .type2__visual__art_plaster {
  border-radius: 25px 25px 25px 25px;
  background: url("/img/index-img/art_plaster-thumbnail-pc.png");
  border: 0.0714285714em solid #000;
  height: 500px;
  width: auto;
  display: block;
}
main .main__inner .main__contents .type1 .type2__visual__class {
  border-radius: 25px 25px 25px 25px;
  background: url("/img/index-img/class-thumbnail-pc.png");
  border: 0.0714285714em solid #000;
  height: 500px;
  width: auto;
  display: block;
}
main .main__inner .main__contents .type1__btn {
  display: block;
  text-align: right;
  margin-top: 2.1428571429em;
}
main .main__inner .main__contents .btn {
  text-align: right;
  float: right;
}
main .main__inner .main__contents .btn .btn__link .btn__co {
  display: block;
  border: none;
}
main .main__inner .main__contents .btn .btn__link .btn__co p {
  display: none;
}
main .main__inner .main__contents .btn .btn__link .btn__co .mark-or-symbol {
  display: none;
}
/*==================　responsive　===================================*/
@media screen and (max-width: 414px) {
  main .main__inner .main__visual {
    height: 836px;
  }
  main .main__inner .main__visual__text {
    position: absolute;
    top: 332px;
    left: 20px;
    text-align: left;
    margin: 0;
  }
  main .main__inner .main__visual span {
    font-size: 40px;
    line-height: 1.6em;
    letter-spacing: 0.1em;
  }
  main .main__inner .main__visual__list {
    width: 343px;
    height: 776px;
    margin-left: 4.375em;
  }
  main .main__inner .main__visual__list__img img {
    width: 100%;
    height: 100%;
  }
  main .main__inner .main__visual__list__img1 {
    display: block;
    height: 100%;
    background: url("/img/mainvisual-3.png");
    background-size: 343px 776px;
    background-repeat: no-repeat;
    background-position: right top;
    float: none;
    right: 0;
  }
  main .main__inner .main__visual__list__img2 {
    display: none;
    background: none;
  }
  main .main__inner .main__contents {
    margin-top: 4.2857142857em;
    padding: 0;
  }
  main .main__inner .main__contents__title {
    margin-bottom: 4.2857142857em;
    align-items: center;
  }
  main .main__inner .main__contents__title .title-res {
    display: block;
    margin-left: 30%;
  }
  main .main__inner .main__contents__title .title-pc {
    display: none;
  }
  main .main__inner .main__contents .main__contents__type1 {
    margin-bottom: 7.1428571429em;
    height: 435px;
  }
  main .main__inner .main__contents .type1 {
    position: initial;
  }
  main .main__inner .main__contents .type1__visual {
    border-radius: 0 30px 30px 0;
    position: initial;
    width: 92.75%;
    height: 248px;
    margin-right: auto;
    border: none;
  }
  main .main__inner .main__contents .type1__visual img {
    border-radius: 0 30px 30px 0;
    border: 0.0714285714em solid #000;
    display: block;
  }
  main .main__inner .main__contents .type1__visual__about {
    display: none;
  }
  main .main__inner .main__contents .type1__visual__tumai {
    display: none;
  }
  main .main__inner .main__contents .type1__body {
    border-radius: 25px 25px 25px 25px;
    padding: 0 1.4285714286em;
    position: initial;
    background-color: transparent;
    width: 100%;
    height: 188px;
    left: 0;
  }
  main .main__inner .main__contents .type1__body-rig {
    border-radius: 25px 25px 25px 25px;
    padding: 0 1.4285714286em;
    position: initial;
    background-color: transparent;
    width: 100%;
    height: 188px;
    left: 0;
  }
  main .main__inner .main__contents .type1 .type2__visual {
    border-radius: 30px 0 0 30px;
    position: initial;
    width: 92.75%;
    height: 248px;
    padding: 0;
    margin-left: auto;
    border: none;
  }
  main .main__inner .main__contents .type1 .type2__visual img {
    border-radius: 30px 0 0 30px;
    border: 0.0714285714em solid #000;
    display: block;
  }
  main .main__inner .main__contents .type1 .type2__visual__shop {
    display: none;
  }
  main .main__inner .main__contents .type1 .type2__visual__tumami {
    display: none;
  }
  main .main__inner .main__contents .type1 .type2__visual__art_plaster {
    display: none;
  }
  main .main__inner .main__contents .type1 .type2__visual__class {
    display: none;
  }
  main .main__inner .main__contents .type1 .type1__title {
    font-size: 18px;
    margin: 16px 0 30px;
  }
  main .main__inner .main__contents .type1 .type1__text {
    font-size: 1em;
    margin: 30px 0;
    text-align: left;
  }
  main .main__inner .main__contents .type1__btn {
    display: block;
    text-align: right;
    margin-top: 2.1428571429em;
  }
  main .main__inner .main__contents .btn .btn__link .btn__co {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #000;
    height: 32px;
    width: 110px;
    right: 1.25em;
  }
  main .main__inner .main__contents .btn .btn__link .btn__co p {
    display: block;
  }
  main .main__inner .main__contents .btn .btn__link .btn__co .mark-or-symbol {
    display: block;
  }
  main .main__inner .main__contents .btn .btn__link .btn__co .mark-or-symbol-pc {
    display: none;
  }
}
/*==================  component ===================================*/
/*==================
header
===================================*/
/*==================　footer　===================================*/
/*================== class ===================================*/
/*================== tumami ===================================*/
/*================== art-p ===================================*/
/*================== about ===================================*/
/*================== index ===================================*/
/*# sourceMappingURL=style.css.map */