footer {
    @include inner();
    color: $color-footer_text;
    background-color: $color-footer;
}

.footer__about {
    @include flex(wrap, center);
    &__logo {
        width: 50px;
        height: 35px;
    }
    .footer__title {
        span {
            font-size: 12px;
        }
    }

    .Instagram-link {
        .Instagram {
            max-width: 24px;
            max-height: 24px;
        }
    }
}
.footer__nav {
    background-color: #323232;
    &__gnav {
        @include flex(wrap, center);
        &__li {
            width: 33.3%;
            border-left: 1px solid #fff;

            a {
                color: $color-footer_text;
            }
        }
    }
}

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3584bb;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
