@charset "utf-8";

$color-bass: #f6f4ee;
$color-border: #000;
$color-footer: #2f1e17;
$color-work-nav: #262845;
$color-shop: #eaa1ba;
$color-white: #fff;

@mixin flex($w: wrap, $j: space-between) {
    display: flex;
    flex-wrap: $w;
    justify-content: $j;
}

@mixin radius($t: 0, $r: 0, $b: 0, $l: 0) {
    border-radius: $t $r $b $l;
}

@mixin inner {
    padding: 0 (20em/14);
}

@mixin inner-one-side($l: 0, $r: 0) {
    padding-left: $l;
    padding-right: $r;
}

// 教室・サークル情報用
@mixin culture_tit(
    $c: center,
    $mt: (
        8em/14,
    ),
    $mb: (
        15em/14,
    )
) {
    text-align: $c;
    margin-top: $mt;
    margin-bottom: $mb;
}

@mixin culture_txt(
    $c: center,
    $m: (
        10em/14,
    )
) {
    text-align: $c;
    margin-bottom: (10em/14);
}

@mixin tabella1($s: 1px, $l: solid, $c: $color-border) {
    border-bottom: $s $l $c;
}

// pc用　mixin

@mixin heder-innerPC {
    padding: 0 (60em/16);
}

@mixin innerPC {
    padding: 0 (30em/16);
}

@mixin text_card {
    padding: (60em/16) 0 (60em/16) (60em/16);
}

h1 {
    font-size: 28px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 21px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}

body {
    background-color: $color-bass;
    font-size: 16px;
    font-family: YuMincho, "Yu Mincho", "SFpro", Arial, Helvetica, sans-serif;
    text-align: center;
}

.main__inner {
    width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 414px) {
    .main__inner {
        width: 414px;
        margin: 0 auto;
    }
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    vertical-align: middle;
}

/*ボタン*/
.btn {
    width: 76.92%;

    &__link {
        &__submit {
            @include flex(nowrap, center);
            @include radius(20px, 20px, 20px, 20px);
            border: (1em/14) solid $color-border;
            max-width: (110em/14);
            padding: (9em/14) (36em/14);
            background-color: #fff;
            &__text {
                margin: 0;
            }

            &__mark-or-symbol {
            }
        }
    }
}
