@charset "utf-8";

/* main==================================== */
.main {
    &__inner {
        // tumami__visual
        .tumami__visual {
            position: relative;
            &__img {
                width: 100%;
                height: 331px;
            }
            .work {
                @include inner;
                position: absolute;
                bottom: 0;
                right: 0;
                &__nav {
                    @include flex(wrap, flex-end);
                    &__list {
                        color: $color-work-nav;
                        font-size: 16px;
                        margin-left: (9em/16);
                        text-decoration: 1px underline $color-work-nav;
                    }
                }
            }
        }
        .work__content {
            margin: (60em/24) 0 (120em/14);
            text-align: left;
            .tumami__title {
                @include inner();
                font-size: 24px;
                color: $color-border;
            }
            .tumami__shop {
                margin: (60em/14) 0 (80em/14);
                .tumami__visual {
                    @include radius(0, 30px, 30px, 0);
                    padding-right: 20px;
                    width: (384em/14);
                    height: (248em/14);
                    border: (1em/14) solid $color-border;
                    margin-right: auto;
                }
                &__btn {
                    @include radius(15px, 15px, 15px, 15px);
                    background-color: $color-shop;
                    border: 1px solid $color-shop;
                    margin: (60em/14) (20em/14) 0;
                    padding: (23em/14) (120em/14);
                    text-align: center;
                    a {
                        font-size: 16px;
                        color: $color-footer_text;
                    }
                }
            }
            .tumami__introduction {
                margin: (80em/14) 0 (60em/14);
                &__history {
                    margin-bottom: (60em/14);
                    &__visual {
                        @include flex();
                        margin-bottom: (60em/14);
                        padding: 0 (41em/14);
                        &-list1 {
                            @include radius(25px, 25px, 25px, 25px);
                            border: 1px solid #000;
                            &__img {
                            }
                        }
                        &-list1:nth-of-type(1) {
                            width: 100%;
                            height: 188px;
                            margin-bottom: (10em/14);
                        }
                        &-list1:nth-of-type(2) {
                            width: 48.49%;
                            height: 212px;
                        }
                        &-list1:nth-of-type(3) {
                            width: 48.49%;
                        }
                    }
                    &__text {
                        @include inner();
                    }
                }
                &__Example_of_use {
                    &__visual {
                        @include inner();
                        position: relative;
                        height: 315px;
                        &-list2 {
                            @include radius(25px, 25px, 25px, 25px);
                            position: absolute;
                            border: 1px solid #000;
                            &__img {
                            }
                        }
                        &-list2:nth-of-type(1) {
                            width: 33.16%;
                            height: 189px;
                            top: 0;
                            left: 21px;
                        }
                        &-list2:nth-of-type(2) {
                            width: 32.09%;
                            height: 120px;
                            top: 0;
                            left: 233px;
                        }
                        &-list2:nth-of-type(3) {
                            width: 33.16%;
                            height: 189px;
                            top: 59px;
                            left: 137px;
                        }
                    }
                    &__text {
                        @include inner();
                        margin-bottom: (20em/14);
                    }
                    &__annotation {
                        padding: 0 (20em/12);
                        font-size: 12px;
                        margin: (20em/12) 0 (70em/14) (73em/12);
                    }
                }
            }
        }
    }
}
