@charset "utf-8";

/* コンポーネント==================================== */
@import "./responsive.scss";

/* header==================================== */
@import "./_header.scss";

/* main */
.main {
    &__inner {
        // about__visual
        .about__visual {
            &__img {
                width: 414px;
                height: 331px;
            }
        }
        .about__me {
            @include inner();
            line-height: (21/14);
            margin: (60em/14) 0 (150em/14);
            &__title {
                margin-bottom: (40em/14);
            }
            .about__introduction {
                margin-bottom: (69em/14);
                &__text {
                    text-align: left;
                }
            }
            .about__purchase {
                margin-bottom: (69em/14);
                &__title {
                    text-align: center;
                    margin-bottom: (36em/14);
                }
                &__text {
                    text-align: left;
                }
            }
        }
        .business__description {
            @include inner-one-side(0, (20em/14));
            margin-bottom: (80em/14);

            /* ショップ */
            &__shop {
                @include flex(wrap, space-between);
                margin-bottom: (45em/14);

                &__thumbnail {
                    @include radius(30px, 30px, 30px, 30px);
                    position: relative;
                    margin-left: (20em/14);
                    width: 53.3%;
                    height: 275px;
                    border: 1px solid #000;

                    &-flowers {
                        width: 47.62%;
                        position: absolute;
                        top: -20px;
                        left: -20px;
                    }
                }
                &__content {
                    @include flex(wrap, center);
                    width: 38.24%;

                    &__title {
                        align-items: center;
                        margin: 0;
                        padding-bottom: (20em/18);
                    }
                    &__text {
                        text-align: left;
                        margin: 0;
                        padding-bottom: (31em/14);
                    }
                }
            }
            /* つまみ細工 */
            &__tumami {
                @include flex(wrap, space-between);
                margin-bottom: (45em/14);

                &__thumbnail {
                    @include radius(30px, 30px, 30px, 30px);
                    position: relative;
                    margin-left: (20em/14);
                    width: 53.3%;
                    height: 275px;
                    border: 1px solid #000;

                    &-flowers {
                        width: 47.62%;
                        position: absolute;
                        top: -20px;
                        left: -20px;
                    }
                }
                &__content {
                    @include flex(wrap, center);
                    width: 38.24%;

                    &__title {
                        align-items: center;
                        margin: 0;
                        padding-bottom: (20em/18);
                    }
                    &__text {
                        text-align: left;
                        margin: 0;
                        padding-bottom: (31em/14);
                    }
                }
            }
            /* アートプラスター */
            &__art-Plaster {
                @include flex(wrap, space-between);
                margin-bottom: (45em/14);

                &__thumbnail {
                    @include radius(30px, 30px, 30px, 30px);
                    position: relative;
                    margin-left: (20em/14);
                    width: 53.3%;
                    height: 275px;
                    border: 1px solid #000;

                    &-flowers {
                        width: 47.62%;
                        position: absolute;
                        top: -20px;
                        left: -20px;
                    }
                }
                &__content {
                    @include flex(wrap, center);
                    width: 38.24%;

                    &__title {
                        align-items: center;
                        margin: 0;
                        padding-bottom: (20em/18);
                    }
                    &__text {
                        text-align: left;
                        margin: 0;
                        padding-bottom: (31em/14);
                    }
                }
            }
            /* 教室・サークル */
            &__circle {
                @include flex(wrap, space-between);
                margin-bottom: (45em/14);

                &__thumbnail {
                    @include radius(30px, 30px, 30px, 30px);
                    position: relative;
                    margin-left: (20em/14);
                    width: 53.3%;
                    height: 275px;
                    border: 1px solid #000;

                    &-flowers {
                        width: 47.62%;
                        position: absolute;
                        top: -20px;
                        left: -20px;
                    }
                }
                &__content {
                    @include flex(wrap, center);
                    width: 38.24%;

                    &__title {
                        align-items: center;
                        margin: 0;
                        padding-bottom: (20em/18);
                    }
                    &__text {
                        text-align: left;
                        margin: 0;
                        padding-bottom: (31em/14);
                    }
                }
            }
        }
    }
}

/* footer==================================== */
@import "./_footer.scss";
