@charset "utf-8";

/* コンポーネント==================================== */
@import "./responsive.scss";

/* header==================================== */
@import "./_header.scss";

/* footer==================================== */
@import "./_footer.scss";

.main {
    &__inner {
        // tumami__visual
        .culture__visual {
            position: relative;
            &__img {
                width: 100%;
                height: 331px;
            }
            .work {
                @include inner;
                position: absolute;
                bottom: 0;
                right: 0;
                &__nav {
                    @include flex(wrap, flex-end);
                    &__list {
                        color: $color-work-nav;
                        font-size: 16px;
                        margin-left: (9em/16);
                        text-decoration: 1px underline $color-work-nav;
                    }
                }
            }
        }
        .charset__content {
            @include inner();
            &__class {
                margin-bottom: (120em/14);
                &__title {
                    text-align: left;
                    margin: (60em/20) 0 (60em/20);
                    &__name.culture {
                        @include inner-one-side(2em, 0);
                        margin-bottom: (16em/14);
                        .culture {
                            @include inner();
                            &__name {
                                text-align: left;
                                margin-bottom: (20em/16);
                            }
                            &__day {
                                @include tabella1();

                                &__title {
                                    @include culture_tit();
                                }
                                &__text {
                                    @include culture_txt();
                                }
                            }
                            &__Place {
                                @include tabella1();

                                &__title {
                                    @include culture_tit();
                                }
                                &__text {
                                    @include culture_txt();
                                }
                            }
                            &__time {
                                @include tabella1();
                                &__title {
                                    @include culture_tit();
                                }
                                &__text {
                                    @include culture_txt();
                                }
                            }
                            &__participation_cost {
                                @include tabella1();

                                &__title {
                                    @include culture_tit();
                                }
                                &__text {
                                    @include culture_txt();
                                }
                            }
                            &__TEL {
                                @include tabella1();

                                &__title {
                                    @include culture_tit();
                                }
                                &__text {
                                    @include culture_txt();
                                }
                            }
                            &__remarks {
                                @include tabella1();

                                &__title {
                                    @include culture_tit();
                                }
                                &__text {
                                    @include culture_txt(left);
                                }
                            }
                            &__map {
                                margin-top: (36em/14);
                                iframe {
                                    max-width: 100%;
                                    height: 225px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
