@charset "utf-8";

body{
    max-width: 414px;
}

img{
}

header{
    height: 60px;
    justify-content: center;
    .header__inner{
        height: 60px;
        padding: 0 20px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .logo{
            padding: 10px 0;
            img{
                width: 56.39px;
                height: 40px;
            }
        }
        .nav{
            .gnav{
                padding: 20px 0;
            }
        }
    }
}
