@charset "utf-8";

/*==================  component ===================================*/
@use "../component" as co;

/* main==================================== */
.main {
    &__inner {
        // tumami__visual
        .art_plaster__visual {
            position: relative;

            &__img {
                width: 100%;
                height: 331px;
                display: none;
                &-pc {
                    height: 655px;
                    background: url("/img/tumami/tumami-main_visual-pc.png");
                    display: block;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-position: bottom;
                    background-size: cover;
                }
            }
            .work {
                @include co.inner;
                position: absolute;
                bottom: 0;
                right: 0;
                &__nav {
                    @include co.flex(wrap, flex-end);
                    &__list {
                        color: co.$color-work-nav;
                        font-size: 16px;
                        margin-left: (9em/16);
                        text-decoration: 1px underline co.$color-work-nav;
                    }
                }
            }
        }
        .work__content {
            max-width: 1280px;
            margin: (80em/16) auto (120em/16);
            text-align: left;
            .art_plaster__title {
                @include co.inner();
                font-size: 24px;
                color: co.$color-border;
            }
            .art_plaster__shop {
                @include co.innerPC();
                margin: (60em/16) 0 (120em/16);
                height: 554px;
                position: relative;
                // height: 560px;
                .art_plaster__visual {
                    @include co.radius(30px, 30px, 30px, 30px);
                    width: 825px;
                    height: 500px;
                    border: (1em/14) solid co.$color-border;
                    margin-right: auto;
                    right: auto;
                    // position: absolute;
                    float: right;
                }
                &__btn {
                    position: absolute;
                    float: left;
                    bottom: 0;
                    a {
                        @include co.radius(15px, 15px, 15px, 15px);
                        color: co.$color-white;
                        font-size: 18px;
                        background-color: co.$color-shop;
                        border: 1px solid co.$color-shop;
                        text-align: center;
                        vertical-align: middle;
                        display: block;

                        // top: 500px;
                        width: 550px;

                        align-items: center;
                        padding: (60em/18) (195em/18) (60em/18);
                    }
                }
            }
            .art_plaster__introduction {
                margin: (80em/16) 0 (60em/16);
                &__history {
                    @include co.innerPC();
                    margin-bottom: (80em/16);
                    &__visual {
                        @include co.flex(wrap, center);
                        margin-bottom: (60em/16);
                        padding: 0 (41em/16);
                        &-list1 {
                            @include co.radius(25px, 25px, 25px, 25px);
                            // border: 1px solid #000;
                            &__img {
                                width: 715px;
                                height: 330px;
                            }
                            &__img2 {
                                width: 330px;
                                height: 434px;
                            }
                        }
                        &-list1:nth-of-type(1) {
                            // width: 100%;
                            // height: 330px;
                            padding: 0 192.5px 0;
                            margin-bottom: 5%;
                        }
                        &-list1:nth-of-type(2) {
                            // width: 30%;
                            // height: 434px;
                        }
                        &-list1:nth-of-type(3) {
                            // width: 30%;
                            height: 434px;
                            margin-left: 5%;
                        }
                        &-list1:nth-of-type(4) {
                            width: 30%;
                            height: 434px;
                            margin-left: 5%;
                            display: none;
                        }
                    }
                    &__text {
                        @include co.inner();
                        font-size: 18px;
                        line-height: 1.8em;
                        letter-spacing: 0.05em;
                    }
                }
                &__Example_of_use {
                    @include co.innerPC();
                    // height: 800px;
                    &__visual {
                        padding: 0 (60em/16) 0;
                        margin-bottom: (60em/16);
                        position: relative;
                        height: 640px;
                        &-list2 {
                            // @include co.radius(25px, 25px, 25px, 25px);
                            position: absolute;
                            // border: 1px solid #000;
                            &__img {
                                width: 330px;
                                height: 434px;
                            }
                            &__img2 {
                                width: 330px;
                                height: 434px;
                            }
                            &__img3 {
                                width: 330px;
                                height: 330px;
                            }
                        }

                        &-list2:nth-of-type(1) {
                            width: 330px;
                            height: 434px;
                            top: 0;
                            left: 10%;
                        }

                        &-list2:nth-of-type(2) {
                            width: 330px;
                            height: 434px;
                            top: 200px;
                            left: 35%;
                        }

                        &-list2:nth-of-type(3) {
                            width: 330px;
                            height: 330px;
                            top: 59px;
                            right: 10%;
                            line-height: 1.6em;
                            letter-spacing: 0.1em;
                        }
                    }
                    &__text {
                        @include co.inner();
                        font-size: 18px;
                        margin-bottom: (20em/18);
                    }
                    &__annotation {
                        padding: 0 (20em/12);
                        font-size: 12px;
                        line-height: 1.2em;
                        letter-spacing: 0.05em;
                        margin: (20em/12) 0 (120em/12) (73em/12);
                    }
                }
            }
        }
    }
}
/* ============================= responsive ========================= */
@media screen and(max-width:414px) {
    .main {
        &__inner {
            // tumami__visual
            .art_plaster__visual {
                position: relative;
                &__img {
                    width: 100%;
                    height: 331px;
                    display: block;
                    &-pc {
                        display: none;
                    }
                }
                .work {
                    @include co.inner;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    &__nav {
                        @include co.flex(wrap, flex-end);
                        &__list {
                            color: co.$color-work-nav;
                            font-size: 16px;
                            margin-left: (9em/16);
                            text-decoration: 1px underline co.$color-work-nav;
                        }
                    }
                }
            }
            .work__content {
                margin: (60em/24) 0 (120em/14);
                text-align: left;
                .art_plaster__title {
                    @include co.inner();
                    font-size: 24px;
                    color: co.$color-border;
                }
                .art_plaster__shop {
                    margin: (60em/16) 0 (80em/16);
                    padding: 0;
                    height: 372px;
                    // height: auto;
                    .art_plaster__visual {
                        @include co.radius(0, 30px, 30px, 0);
                        width: (384em/16);
                        height: (248em/16);
                        border: (1em/16) solid co.$color-border;
                        margin-right: auto;
                        position: initial;
                        float: left;
                    }
                    &__btn {
                        @include co.radius(15px, 15px, 15px, 15px);
                        margin: (60em/16) (20em/16) 0;
                        width: 90.34%;
                        bottom: 0;
                        a {
                            font-size: 16px;
                            color: co.$color-white;
                            background-color: co.$color-shop;
                            border: 1px solid co.$color-shop;

                            padding: (23em/16) (120em/16);
                            text-align: center;
                            width: auto;
                            height: auto;
                            position: initial;
                        }
                    }
                }
                .art_plaster__introduction {
                    margin: (80em/14) 0 (60em/16);
                    &__history {
                        @include co.inner();
                        margin-bottom: (60em/16);
                        &__visual {
                            @include co.flex(wrap, space-between);
                            // display: block;
                            margin-bottom: (60em/16);
                            padding: 0;
                            &-list1 {
                                height: 188px;
                                width: auto;
                                &__img {
                                    @include co.radius(25px, 25px, 25px, 25px);
                                    border: 1px solid #000;
                                    height: 188px;
                                    width: auto;
                                }
                                &__img2 {
                                    @include co.radius(25px, 25px, 25px, 25px);
                                    border: 1px solid #000;
                                    height: 212px;
                                    width: auto;
                                }
                            }
                            &-list1:nth-of-type(1) {
                                margin: 0 0 (10em/16) (20em/16);
                                border: none;
                                padding: 0;
                            }
                            &-list1:nth-of-type(2) {
                                height: 212px;
                                margin: 0 (10em/16) 0 0;
                            }
                            &-list1:nth-of-type(3) {
                                margin: 0 0 0 (10em/16);
                                height: 212px;
                            }
                            &-list1:nth-of-type(4) {
                                display: none;
                            }
                        }
                        &__text {
                            padding: 0;
                            font-size: 14px;
                            line-height: 1.7;
                            letter-spacing: 0.05em;
                        }
                    }
                    &__Example_of_use {
                        @include co.inner();
                        &__visual {
                            padding: 0;
                            position: relative;
                            height: 315px;
                            &-list2 {
                                // @include co.radius(25px, 25px, 25px, 25px);
                                position: absolute;
                                // border: 1px solid #000;
                                &__img {
                                    height: 189px;
                                    width: auto;
                                }
                                &__img2 {
                                    height: 120px;
                                    width: auto;
                                }
                            }
                            &-list2:nth-of-type(1) {
                                height: 189px;
                            }
                            &-list2:nth-of-type(2) {
                                height: 189px;
                                top: 126px;
                            }
                            &-list2:nth-of-type(3) {
                                height: 120px;
                                left: 230px;
                            }
                        }
                        &__text {
                            padding: 0;
                            letter-spacing: 0.05em;
                            line-height: 1.7;
                            font-size: 14px;
                            margin-bottom: (20em/14);
                        }
                        &__annotation {
                            padding: 0 (20em/12);
                            font-size: 12px;
                            letter-spacing: 0.05em;
                            line-height: 1.6;
                            margin: (20em/12) 0 (70em/14) (73em/12);
                        }
                    }
                }
            }
        }
    }
}
