@charset "utf-8";

@import "../responsive-tub";

/*                                                   */
@import "../PC/PC";

/* =========== header ============================ */
@import "../header";

/* =========== culture-class ============================ */
.main {
    &__inner {
        @include innerPC();
        // tumami__visual
        .culture__visual {
            position: relative;
            &__img {
                width: 100%;
                height: 331px;
                display: none;
            }
            .work {
                @include inner();
                position: absolute;
                bottom: 0;
                right: 0;
                &__nav {
                    @include flex(wrap, flex-end);
                    &__list {
                        color: $color-work-nav;
                        font-size: 16px;
                        margin-left: (9em/16);
                        text-decoration: 1px underline $color-work-nav;
                    }
                }
            }
        }
        .charset__content {
            margin-bottom: (70em/16);
            @include inner();
            &__class {
                margin: (60em/16) 0 (70em/16);
                &__title {
                    font-size: 24px;
                    font-weight: bold;
                    text-align: left;
                    margin: 0 0 (60em/24);
                    &__name.culture {
                        @include inner-one-side(2em, 0);
                        margin: 0 20% (136em/14);
                        .culture {
                            @include inner();

                            &__name {
                                text-align: left;
                                margin-bottom: (40em/24);
                                font-size: 24px;
                                font-weight: bold;
                            }
                            // day
                            &__day {
                                @include tabella1();
                                @include flex(wrap, flex-start);
                                align-items: center;
                                padding: (40em/16) 0;
                                &__title {
                                    font-size: 24px;
                                    margin-left: (20em/20);
                                }
                                &__text {
                                    font-size: 20px;
                                    text-align: left;
                                    margin-left: (40em/20);
                                }
                            }
                            // place
                            &__Place {
                                @include tabella1();
                                @include flex(wrap, flex-start);
                                align-items: center;
                                padding: (40em/16) 0;
                                &__title {
                                    font-size: 24px;
                                    margin-left: (20em/20);
                                }
                                &__text {
                                    font-size: 20px;
                                    text-align: left;
                                    margin-left: (40em/20);
                                }
                            }
                            // time
                            &__time {
                                @include tabella1();
                                @include flex(wrap, flex-start);
                                align-items: center;
                                padding: (40em/16) 0;
                                &__title {
                                    font-size: 24px;
                                    margin-left: (20em/20);
                                }
                                &__text {
                                    font-size: 20px;
                                    text-align: left;
                                    margin-left: (40em/20);
                                }
                            }
                            // participation_cost
                            &__participation_cost {
                                @include tabella1();
                                @include flex(wrap, flex-start);
                                align-items: center;
                                padding: (40em/16) 0;
                                &__title {
                                    font-size: 24px;
                                    margin-left: (20em/20);
                                }
                                &__text {
                                    font-size: 20px;
                                    text-align: left;
                                    margin-left: (40em/20);
                                }
                            }
                            // TEL
                            &__TEL {
                                @include tabella1();
                                @include flex(wrap, flex-start);
                                align-items: center;
                                padding: (40em/16) 0;
                                &__title {
                                    font-size: 24px;
                                    margin-left: (20em/20);
                                }
                                &__text {
                                    font-size: 20px;
                                    text-align: left;
                                    margin-left: (40em/20);
                                }
                            }
                            // remarks
                            &__remarks {
                                @include tabella1();
                                @include flex(wrap, flex-start);
                                align-items: center;
                                padding: (40em/16) 0;
                                &__title {
                                    font-size: 24px;
                                    margin-left: (20em/20);
                                }
                                &__text {
                                    font-size: 20px;
                                    text-align: left;
                                    margin-left: (40em/20);
                                }
                            }
                            // map
                            &__map {
                                margin-top: (36em/14);
                                align-items: center;
                                iframe {
                                    width: 100%;
                                    height: 500px;
                                }
                            }
                        }
                    }
                }
            }

            /* club */
            &__club {
                margin: (60em/14) 20% (70em/14);
                &__title {
                    text-align: left;
                    margin-bottom: (60em/20);
                    &__name.culture {
                        @include inner-one-side(2em, 0);
                        margin-bottom: (16em/14);
                        .culture {
                            @include inner();
                            &__name {
                                text-align: left;
                                margin-bottom: (40em/24);
                                font-size: 24px;
                                font-weight: bold;
                            }
                            // day
                            &__day {
                                @include tabella1();
                                @include flex(wrap, flex-start);
                                align-items: center;
                                padding: (40em/16) 0;
                                &__title {
                                    font-size: 24px;
                                    margin-left: (20em/20);
                                }
                                &__text {
                                    font-size: 20px;
                                    text-align: left;
                                    margin-left: (40em/20);
                                }
                            }
                            // place
                            &__Place {
                                @include tabella1();
                                @include flex(wrap, flex-start);
                                align-items: center;
                                padding: (40em/16) 0;
                                &__title {
                                    font-size: 24px;
                                    margin-left: (20em/20);
                                }
                                &__text {
                                    font-size: 20px;
                                    text-align: left;
                                    margin-left: (40em/20);
                                }
                            }
                            // time
                            &__time {
                                @include tabella1();
                                @include flex(wrap, flex-start);
                                align-items: center;
                                padding: (40em/16) 0;
                                &__title {
                                    font-size: 24px;
                                    margin-left: (20em/20);
                                }
                                &__text {
                                    font-size: 20px;
                                    text-align: left;
                                    margin-left: (40em/20);
                                }
                            }
                            // participation_cost
                            &__participation_cost {
                                @include tabella1();
                                @include flex(wrap, flex-start);
                                align-items: center;
                                padding: (40em/16) 0;
                                &__title {
                                    font-size: 24px;
                                    margin-left: (20em/20);
                                }
                                &__text {
                                    font-size: 20px;
                                    text-align: left;
                                    margin-left: (40em/20);
                                }
                            }
                            // TEL
                            &__TEL {
                                @include tabella1();
                                @include flex(wrap, flex-start);
                                align-items: center;
                                padding: (40em/16) 0;
                                &__title {
                                    font-size: 24px;
                                    margin-left: (20em/20);
                                }
                                &__text {
                                    font-size: 20px;
                                    text-align: left;
                                    margin-left: (40em/20);
                                }
                            }
                            // remarks
                            &__remarks {
                                @include tabella1();
                                @include flex(wrap, flex-start);
                                align-items: center;
                                padding: (40em/16) 0;
                                &__title {
                                    font-size: 24px;
                                    margin-left: (20em/20);
                                }
                                &__text {
                                    font-size: 20px;
                                    text-align: left;
                                    margin-left: (40em/20);
                                }
                            }
                            // map
                            &__map {
                                margin-top: (36em/14);
                                align-items: center;
                                iframe {
                                    width: 100%;
                                    height: 500px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* =========== responsive ============================ */
@media screen and(max-width:414px) {
    .main {
        &__inner {
            padding: 0;
            // tumami__visual
            .culture__visual {
                position: relative;
                &__img {
                    width: 100%;
                    height: 331px;
                }
                .work {
                    @include inner;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    &__nav {
                        @include flex(wrap, flex-end);
                        &__list {
                            color: $color-work-nav;
                            font-size: 16px;
                            margin-left: (9em/16);
                            text-decoration: 1px underline $color-work-nav;
                        }
                    }
                }
            }
            .charset__content {
                margin-bottom: (70em/14);
                @include inner();
                &__class {
                    margin: (60em/14) 0 (70em/14);
                    &__title {
                        font-size: 18px;
                        text-align: left;
                        margin: 0 0 (40em/18);
                        &__name.culture {
                            @include inner-one-side(2em, 0);
                            margin: 0 0 (136em/14);
                            .culture {
                                @include inner();
                                &__name {
                                    font-size: 16px;
                                    text-align: left;
                                    margin-bottom: (20em/16);
                                }
                                // day
                                &__day {
                                    @include tabella1();
                                    display: block;
                                    padding: 0;
                                    &__title {
                                        @include culture_tit();
                                        font-size: 16px;
                                    }
                                    &__text {
                                        @include culture_txt();
                                        font-size: 14px;
                                    }
                                }
                                //place
                                &__Place {
                                    @include tabella1();
                                    display: block;
                                    &__title {
                                        @include culture_tit();
                                        font-size: 16px;
                                    }
                                    &__text {
                                        @include culture_txt();
                                        font-size: 14px;
                                    }
                                }
                                //time
                                &__time {
                                    @include tabella1();
                                    display: block;
                                    &__title {
                                        @include culture_tit();
                                        font-size: 16px;
                                    }
                                    &__text {
                                        @include culture_txt();
                                        font-size: 14px;
                                    }
                                }
                                //participation_cost
                                &__participation_cost {
                                    @include tabella1();
                                    display: block;
                                    &__title {
                                        @include culture_tit();
                                        font-size: 16px;
                                    }
                                    &__text {
                                        @include culture_txt();
                                        font-size: 14px;
                                    }
                                }
                                //TEL
                                &__TEL {
                                    @include tabella1();
                                    display: block;
                                    &__title {
                                        @include culture_tit();
                                        font-size: 16px;
                                    }
                                    &__text {
                                        @include culture_txt();
                                        font-size: 14px;
                                    }
                                }
                                //remarks
                                &__remarks {
                                    @include tabella1();

                                    &__title {
                                        @include culture_tit();
                                        font-size: 16px;
                                    }
                                    &__text {
                                        @include culture_txt(left);
                                        font-size: 14px;
                                    }
                                }
                                //map
                                &__map {
                                    margin-top: (36em/14);
                                    iframe {
                                        max-width: 100%;
                                        height: 225px;
                                    }
                                }
                            }
                        }
                    }
                }

                /* club */
                &__club {
                    margin: (60em/14) 0 (70em/14);
                    &__title {
                        font-size: 18px;
                        text-align: left;
                        margin: 0 0 (40em/18);
                        &__name.culture {
                            @include inner-one-side(2em, 0);
                            margin-bottom: (16em/14);
                            .culture {
                                @include inner();
                                &__name {
                                    font-size: 16px;
                                    text-align: left;
                                    margin-bottom: (20em/16);
                                }

                                &__day {
                                    @include tabella1();
                                    display: block;
                                    padding: 0;
                                    &__title {
                                        @include culture_tit();
                                        font-size: 16px;
                                    }
                                    &__text {
                                        @include culture_txt();
                                        font-size: 14px;
                                    }
                                }

                                &__Place {
                                    @include tabella1();
                                    display: block;
                                    padding: 0;
                                    &__title {
                                        @include culture_tit();
                                        font-size: 16px;
                                    }
                                    &__text {
                                        @include culture_txt();
                                        font-size: 14px;
                                    }
                                }

                                &__time {
                                    @include tabella1();
                                    display: block;
                                    padding: 0;
                                    &__title {
                                        @include culture_tit();
                                        font-size: 16px;
                                    }
                                    &__text {
                                        @include culture_txt();
                                        font-size: 14px;
                                    }
                                }
                                &__participation_cost {
                                    @include tabella1();
                                    display: block;
                                    padding: 0;
                                    &__title {
                                        @include culture_tit();
                                        font-size: 16px;
                                    }
                                    &__text {
                                        @include culture_txt();
                                        font-size: 14px;
                                    }
                                }
                                &__TEL {
                                    @include tabella1();
                                    display: block;
                                    padding: 0;
                                    &__title {
                                        @include culture_tit();
                                        font-size: 16px;
                                    }
                                    &__text {
                                        @include culture_txt();
                                        font-size: 14px;
                                    }
                                }

                                &__remarks {
                                    @include tabella1();
                                    display: block;
                                    padding: 0;
                                    &__title {
                                        @include culture_tit();
                                        font-size: 16px;
                                    }
                                    &__text {
                                        @include culture_txt(left);
                                        font-size: 14px;
                                    }
                                }

                                &__map {
                                    margin-top: (36em/14);
                                    iframe {
                                        max-width: 100%;
                                        height: 225px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* =========== footer ============================ */
@import "../footer-res";
