@charset "utf-8";

/*==================  component ===================================*/
@use "../component" as co;

// /*==================  header ===================================*/
// @use "../header";

// /*==================　footer　===================================*/
// @use "../footer";

/*================== index ===================================*/
main {
    .main__inner {
        // main__visual
        .main__visual {
            // @include co.innerPC();
            height: 700px;
            &__text {
                position: absolute;
                top: 332px;
                left: 20px;
                text-align: left;
                margin-left: (60em/14);
            }
            span {
                font-size: 60px;
                line-height: 1.6em;
                letter-spacing: 0.1em;
            }
            &__list {
                padding-bottom: 60px;

                &__img1 {
                    float: right;
                    // width: 70%;
                    img {
                        width: 100%;
                        // height: 600px;
                    }
                    .img1 {
                        display: none;
                    }
                    .img2 {
                    }
                }
                &__img2 {
                    background: url("../img/index-img/tumami-thumbnail-pc-1.png");
                    // background-position: ;
                    background-repeat: no-repeat;
                    width: 80%;
                    height: 600px;
                    position: absolute;
                    top: 100px;
                    right: 0;
                    z-index: -1;
                }
            }
        }

        // main__contents
        .main__contents {
            @include co.innerPC();
            max-width: 1280px;
            margin: 0 auto;
            margin-top: (100em/14);
            &__title {
                margin-bottom: (100em/14);
                align-items: center;
                .title-res {
                    display: none;
                }
                .title-pc {
                    // display: block;
                }
            }

            // type1
            .main__contents__type1 {
                margin-bottom: (150em/14);
            }
            .type1 {
                position: relative;
                height: 600px;
                margin-bottom: (120em/14);

                &__visual {
                    position: absolute;
                    width: 73.66%;
                    height: 500px;
                    margin-right: auto;
                    img {
                        display: none;
                    }

                    &__about {
                        @include co.radius(25px, 25px, 25px, 25px);
                        background: url("../img/index-img/about-thumbnail-pc.png");
                        border: (1em/14) solid co.$color-border;
                        height: 500px;
                        width: auto;
                        display: block;
                    }
                }
                &__body {
                    @include co.radius(25px, 25px, 25px, 25px);
                    background-color: co.$color-white;
                    position: absolute;
                    padding: (60em/14) (60em/14) (60em/14) (60em/14);
                    width: 49.11%;
                    // height: 400px;
                    left: 570px;
                    bottom: 0;
                }

                &__text {
                    text-align: left;
                }

                &__body-rig {
                    @include co.radius(25px, 25px, 25px, 25px);
                    background-color: co.$color-white;
                    position: absolute;
                    padding: (60em/14) (60em/14) (60em/14) (60em/14);
                    width: 49.11%;
                    // height: 400px;
                    left: 0;
                    bottom: 0;
                }

                .type2 {
                    &__visual {
                        position: absolute;
                        width: 73.66%;
                        height: 500px;
                        margin-left: auto;
                        left: 295px;

                        img {
                            display: none;
                        }
                        &__shop {
                            @include co.radius(25px, 25px, 25px, 25px);
                            background: url("../img/index-img/shop-thumbnail-pc.png");
                            background-repeat: no-repeat;
                            border: (1em/14) solid co.$color-border;
                            height: 500px;
                            width: auto;
                            display: block;
                        }
                        &__tumami {
                            @include co.radius(25px, 25px, 25px, 25px);
                            background: url("../img/index-img/tumami-thumbnail-pc.png");
                            border: (1em/14) solid co.$color-border;
                            height: 500px;
                            width: auto;
                            display: block;
                        }
                        &__art_plaster {
                            @include co.radius(25px, 25px, 25px, 25px);
                            background: url("../img/index-img/art_plaster-thumbnail-pc.png");
                            border: (1em/14) solid co.$color-border;
                            height: 500px;
                            width: auto;
                            display: block;
                        }
                        &__class {
                            @include co.radius(25px, 25px, 25px, 25px);
                            background: url("../img/index-img/class-thumbnail-pc.png");
                            border: (1em/14) solid co.$color-border;
                            height: 500px;
                            width: auto;
                            display: block;
                        }
                    }
                }

                // btn
                &__btn {
                    display: block;
                    text-align: right;
                    margin-top: (30em/14);
                }
            }
            .btn {
                text-align: right;
                float: right;
                .btn__link {
                    .btn__co {
                        display: block;
                        border: none;
                        p {
                            display: none;
                        }
                        .mark-or-symbol {
                            display: none;
                        }
                        .mark-or-symbol-pc {
                        }
                    }
                }
            }
        }
    }
}
/*==================　responsive　===================================*/
@media screen and(max-width:414px) {
    main {
        .main__inner {
            // main__visual
            .main__visual {
                height: 836px;

                &__text {
                    position: absolute;
                    top: 332px;
                    left: 20px;
                    text-align: left;
                    margin: 0;
                }
                span {
                    font-size: 40px;
                    line-height: 1.6em;
                    letter-spacing: 0.1em;
                }
                &__list {
                    width: 343px;
                    height: 776px;
                    margin-left: (70em/16);

                    &__img {
                        img {
                            width: 100%;
                            height: 100%;
                        }
                        &1 {
                            display: block;
                            height: 100%;
                            background: url("../img/mainvisual-3.png");
                            background-size: 343px 776px;
                            background-repeat: no-repeat;
                            background-position: right top;
                            float: none;
                            right: 0;
                        }
                        &2 {
                            display: none;
                            background: none;
                        }
                    }
                }
            }

            // main__contents
            .main__contents {
                margin-top: (60em/14);
                padding: 0;
                &__title {
                    margin-bottom: (60em/14);
                    align-items: center;
                    .title-res {
                        display: block;
                        margin-left: 30%;
                    }
                    .title-pc {
                        display: none;
                    }
                }
                // type1
                .main__contents__type1 {
                    margin-bottom: (100em/14);
                    height: 435px;
                }
                .type1 {
                    position: initial;
                    &__visual {
                        @include co.radius(0, 30px, 30px, 0);
                        position: initial;
                        width: 92.75%;
                        height: 248px;
                        margin-right: auto;
                        border: none;
                        img {
                            @include co.radius(0, 30px, 30px, 0);
                            border: (1em/14) solid co.$color-border;
                            display: block;
                        }
                        &__about {
                            display: none;
                        }
                        &__tumai {
                            display: none;
                        }
                    }
                    &__body {
                        @include co.radius(25px, 25px, 25px, 25px);
                        @include co.inner();
                        position: initial;
                        background-color: transparent;
                        width: 100%;
                        height: 188px;
                        left: 0;
                    }
                    &__body-rig {
                        @include co.radius(25px, 25px, 25px, 25px);
                        @include co.inner();
                        position: initial;
                        background-color: transparent;
                        width: 100%;
                        height: 188px;
                        left: 0;
                    }

                    .type2 {
                        &__visual {
                            @include co.radius(30px, 0, 0, 30px);
                            position: initial;
                            width: 92.75%;
                            height: 248px;
                            padding: 0;
                            margin-left: auto;
                            border: none;
                            img {
                                @include co.radius(30px, 0, 0, 30px);
                                border: (1em/14) solid co.$color-border;
                                display: block;
                            }
                            &__shop {
                                display: none;
                            }
                            &__tumami {
                                display: none;
                            }
                            &__art_plaster {
                                display: none;
                            }
                            &__class {
                                display: none;
                            }
                        }
                    }

                    .type1__title {
                        font-size: 18px;
                        margin: 16px 0 30px;
                    }
                    .type1__text {
                        font-size: 1em;
                        margin: 30px 0;
                        text-align: left;
                    }

                    // btn
                    &__btn {
                        display: block;
                        text-align: right;
                        margin-top: (30em/14);
                    }
                }
                .btn {
                    .btn__link {
                        .btn__co {
                            @include co.flex(wrap, center);
                            @include co.radius(20px, 20px, 20px, 20px);
                            position: absolute;
                            background-color: #fff;
                            border: 1px solid #000;
                            height: 32px;
                            width: 110px;
                            right: (20em/16);
                            p {
                                display: block;
                            }
                            .mark-or-symbol {
                                display: block;
                            }
                            .mark-or-symbol-pc {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
