@charset "utf-8";

/*==================  component ===================================*/
@use "../component" as co;

/*==================  header ===================================*/
@use "../header";

/*==================　footer　===================================*/
@use "../footer";

/*==================　about　===================================*/
.main {
    &__inner {
        // about__visual
        .about__visual {
            &__img {
                width: 414px;
                height: 331px;
                display: none;
            }
        }
        .about__me {
            @include co.innerPC();
            padding: 0 (60em/16);
            line-height: (21em/16);
            margin: (60em/16) auto (150em/16);
            &__title {
                margin-bottom: (40em/16);
                &__img {
                    display: none;
                }
                &__img-pc {
                    display: block;
                    margin-left: 30%;
                }
            }
            .about__introduction {
                margin-bottom: (69em/16);
                &__text {
                    font-size: 16px;
                    text-align: left;
                }
            }
            .about__purchase {
                margin-bottom: (69em/16);
                &__title {
                    text-align: center;
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: (36em/18);
                }
                &__text {
                    text-align: left;
                }
            }
        }
        .business__description {
            @include co.innerPC();
            margin-bottom: (80em/16);

            /* ショップ */
            &__shop {
                @include co.flex(wrap, space-between);
                margin-bottom: (120em/16);
                position: relative;
                &__thumbnail {
                    @include co.radius(30px, 30px, 30px, 30px);
                    position: relative;
                    width: 71.24%;
                    height: 500px;
                    border: 1px solid #000;
                    &-flowers {
                        width: 24.24%;
                        position: absolute;
                        top: -40px;
                        left: -40px;
                    }
                }
                &__content {
                    @include co.flex(wrap, center);
                    @include co.radius(30px, 30px, 30px, 30px);
                    @include co.text_card();
                    background-color: co.$color-white;
                    position: absolute;
                    width: 38.24%;
                    right: 0;
                    bottom: 0;

                    &__title {
                        align-items: center;
                        margin: 0;
                        padding-bottom: (20em/18);
                    }
                    &__text {
                        text-align: left;
                        margin: 0;
                        font-size: 16px;
                        padding-bottom: (31em/16);
                    }
                }
            }
            /* つまみ細工 */
            &__tumami {
                @include co.flex(wrap, space-between);
                margin-bottom: (120em/16);
                position: relative;
                &__thumbnail {
                    @include co.radius(30px, 30px, 30px, 30px);
                    position: relative;
                    width: 71.24%;
                    height: 500px;
                    border: 1px solid #000;

                    &-flowers {
                        width: 24.24%;
                        position: absolute;
                        top: -40px;
                        left: -40px;
                    }
                }
                &__content {
                    @include co.flex(wrap, center);
                    @include co.radius(30px, 30px, 30px, 30px);
                    @include co.text_card();
                    background-color: co.$color-white;
                    position: absolute;
                    width: 38.24%;
                    right: 0;
                    bottom: 0;
                    &__title {
                        align-items: center;
                        margin: 0;
                        padding-bottom: (20em/18);
                    }
                    &__text {
                        text-align: left;
                        font-size: 16px;
                        margin: 0;
                        padding-bottom: (31em/16);
                    }
                }
            }
            /* アートプラスター */
            &__art-Plaster {
                @include co.flex(wrap, space-between);
                margin-bottom: (120em/16);
                position: relative;
                &__thumbnail {
                    @include co.radius(30px, 30px, 30px, 30px);
                    position: relative;
                    width: 71.24%;
                    height: 500px;
                    border: 1px solid #000;

                    &-flowers {
                        width: 24.24%;
                        position: absolute;
                        top: -40px;
                        left: -40px;
                    }
                }
                &__content {
                    @include co.flex(wrap, center);
                    @include co.radius(30px, 30px, 30px, 30px);
                    @include co.text_card();
                    background-color: co.$color-white;
                    position: absolute;
                    width: 38.24%;
                    right: 0;
                    bottom: 0;

                    &__title {
                        align-items: center;
                        margin: 0;
                        padding-bottom: (20em/18);
                    }
                    &__text {
                        text-align: left;
                        font-size: 16px;
                        margin: 0;
                        padding-bottom: (31em/16);
                    }
                }
            }
            /* 教室・サークル */
            &__circle {
                @include co.flex(wrap, space-between);
                margin-bottom: (120em/16);
                position: relative;
                &__thumbnail {
                    @include co.radius(30px, 30px, 30px, 30px);
                    position: relative;
                    width: 71.24%;
                    height: 500px;
                    border: 1px solid #000;

                    &-flowers {
                        width: 24.24%;
                        position: absolute;
                        top: -40px;
                        left: -40px;
                    }
                }
                &__content {
                    @include co.flex(wrap, center);
                    @include co.radius(30px, 30px, 30px, 30px);
                    @include co.text_card();
                    background-color: co.$color-white;
                    position: absolute;
                    width: 38.24%;
                    right: 0;
                    bottom: 0;
                    &__title {
                        text-align: left;
                        margin: 0;
                        padding-bottom: (20em/18);
                    }
                    &__text {
                        text-align: left;
                        font-size: 16px;
                        margin: 0;
                        padding-bottom: (31em/16);
                    }
                }
            }
        }
        .gallery {
            @include co.inner();
            margin: (80em/14) 0 (40em/14);

            &__title {
                img {
                    width: 21.19%;
                }
            }
            &__btn {
                &1 {
                    padding: (4em/14) (8em/14);
                    @include co.radius(10px, 10px, 10px, 10px);
                }
                &2 {
                    padding: (4em/14) (8em/14);
                    @include co.radius(10px, 10px, 10px, 10px);
                }
            }
            &__content {
                @include co.flex(wrap, center);
                width: 90.34%;
                align-items: flex-start;
                &__list1 {
                    width: 50%;
                }
                &__list2 {
                    width: 50%;
                }
                .gallery1 {
                    width: 100%;
                    height: 219px;
                    border: 1px solid #000;
                    margin: 0 (12em/14) (12em/14) 0;
                }
                .gallery2 {
                    width: 100%;
                    height: 219px;
                    border: 1px solid #000;
                    margin: 0 0 (12em/14) (12em/14);
                }
                .gallery2:nth-of-type(1) {
                    height: 160px;
                }
            }
        }
        .btn.ga {
            margin-bottom: (70em/14);
        }
    }
}

/*==================　responsive　===================================*/
@media screen and (max-width: 414px) {
    .main {
        &__inner {
            // about__visual
            .about__visual {
                &__img {
                    width: 414px;
                    height: 331px;
                    display: block;
                }
            }
            .about__me {
                @include co.inner();
                line-height: (21/16);
                margin: (60em/16) 0 (150em/16);
                &__title {
                    margin-bottom: (40em/16);
                    &__img {
                        display: block;
                        margin-left: 30%;
                    }
                    &__img-pc {
                        display: none;
                    }
                }
                .about__introduction {
                    margin-bottom: (69em/16);
                    &__text {
                        @include co.text-d();
                        text-align: left;
                    }
                }
                .about__purchase {
                    margin-bottom: (69em/16);
                    &__title {
                        text-align: center;
                        margin-bottom: (36em/16);
                    }
                    &__text {
                        @include co.text-d();
                        text-align: left;
                    }
                }
            }
            .business__description {
                @include co.inner();
                margin-bottom: (80em/16);

                /* ショップ */
                &__shop {
                    @include co.flex(wrap, space-between);
                    margin-bottom: (45em/16);

                    &__thumbnail {
                        @include co.radius(30px, 30px, 30px, 30px);
                        position: relative;
                        background: url("/img/about/about-shop-res.png");
                        background-size: 194px 273px;
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        width: 53.3%;
                        height: 275px;
                        border: 1px solid #000;

                        &-flowers {
                            width: 47.62%;
                            position: absolute;
                            top: -20px;
                            left: -20px;
                        }
                    }
                    &__content {
                        @include co.flex(wrap, center);
                        width: 43%;
                        padding: 0;
                        background-color: initial;
                        position: initial;
                        &__title {
                            font-size: 18px;
                            align-items: center;
                            margin: 0;
                            padding-bottom: (20em/18);
                        }
                        &__text {
                            @include co.text-d();
                            font-size: 14px;
                            text-align: left;
                            margin: 0;
                            padding-bottom: (31em/14);
                        }
                    }
                }
                /* つまみ細工 */
                &__tumami {
                    @include co.flex(wrap, space-between);
                    margin-bottom: (45em/14);

                    &__thumbnail {
                        @include co.radius(30px, 30px, 30px, 30px);
                        background: url("/img/about/about-tumami-res.png");
                        background-size: 194px 273px;
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        position: relative;
                        width: 53.3%;
                        height: 275px;
                        border: 1px solid #000;

                        &-flowers {
                            width: 47.62%;
                            position: absolute;
                            top: -20px;
                            left: -20px;
                        }
                        &-thumbnail {
                            width: 194px;
                            height: 273px;
                        }
                    }
                    &__content {
                        @include co.flex(wrap, center);
                        width: 43%;
                        padding: 0;
                        background-color: initial;
                        position: initial;
                        padding: 0;
                        &__title {
                            font-size: 18px;
                            align-items: center;
                            margin: 0;
                            padding-bottom: (20em/18);
                        }
                        &__text {
                            @include co.text-d();
                            font-size: 14px;
                            text-align: left;
                            margin: 0;
                            padding-bottom: (31em/14);
                        }
                        .btn {
                            right: 0;
                        }
                    }
                }
                /* アートプラスター */
                &__art-Plaster {
                    @include co.flex(wrap, space-between);
                    margin-bottom: (45em/14);

                    &__thumbnail {
                        @include co.radius(30px, 30px, 30px, 30px);
                        background: url("/img/about/about-art_plaster-res.png");
                        background-size: 194px 273px;
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        position: relative;
                        width: 53.3%;
                        height: 275px;
                        border: 1px solid #000;

                        &-flowers {
                            width: 47.62%;
                            position: absolute;
                            top: -20px;
                            left: -20px;
                        }
                    }
                    &__content {
                        @include co.flex(wrap, center);
                        width: 43%;
                        padding: 0;
                        background-color: initial;
                        position: initial;
                        &__title {
                            font-size: 18px;
                            align-items: center;
                            margin: 0;
                            padding-bottom: (20em/18);
                        }
                        &__text {
                            @include co.text-d();
                            font-size: 14px;
                            text-align: left;
                            margin: 0;
                            padding-bottom: (31em/14);
                        }
                    }
                }
                /* 教室・サークル */
                &__circle {
                    @include co.flex(wrap, space-between);
                    margin-bottom: (45em/14);

                    &__thumbnail {
                        @include co.radius(30px, 30px, 30px, 30px);
                        background: url("/img/about/about-art_class-res.png");
                        background-size: 194px 273px;
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        position: relative;
                        width: 53.3%;
                        height: 275px;
                        border: 1px solid #000;

                        &-flowers {
                            width: 47.62%;
                            position: absolute;
                            top: -20px;
                            left: -20px;
                        }
                    }
                    &__content {
                        @include co.flex(wrap, center);
                        width: 43%;
                        padding: 0;
                        background-color: initial;
                        position: initial;
                        &__title {
                            font-size: 18px;
                            align-items: center;
                            margin: 0;
                            padding-bottom: (20em/18);
                        }
                        &__text {
                            @include co.text-d();
                            font-size: 14px;
                            text-align: left;
                            margin: 0;
                            padding-bottom: (31em/14);
                        }
                    }
                }
            }
            .gallery {
                @include co.inner();
                margin: (80em/14) 0 (40em/14);

                &__title {
                    margin-bottom: (20em/16);
                    img {
                        width: 21.19%;
                    }
                }
                &__btn {
                    margin-bottom: (20em/16);
                    &1 {
                        padding: (4em/14) (8em/14);
                        @include co.radius(10px, 10px, 10px, 10px);
                    }
                    &2 {
                        padding: (4em/14) (8em/14);
                        @include co.radius(10px, 10px, 10px, 10px);
                    }
                }
                &__content {
                    @include co.flex(wrap, center);
                    width: 100%;
                    padding: 0;
                    background-color: initial;
                    position: initial;
                    &__list1 {
                        width: 50%;
                    }
                    &__list2 {
                        width: 50%;
                    }
                    .gallery1 {
                        width: 100%;
                        height: 219px;
                        border: 1px solid #000;
                        margin: 0 (12em/14) (12em/14) 0;
                    }
                    .gallery2 {
                        width: 100%;
                        height: 219px;
                        border: 1px solid #000;
                        margin: 0 0 (12em/14) (12em/14);
                    }
                    .gallery2:nth-of-type(1) {
                        height: 160px;
                    }
                }
            }
            .btn.ga {
                margin-bottom: (70em/14);
                margin-left: auto;
            }
        }
    }
}
